<a href="https://colab.research.google.com/github/baiju012/NPTEL-PDSA-cs70/blob/main/Copy_of_Python_Programming1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>









# Python Programming

**Day1 **

*Prerequiste: Installation of Anaconda* <br>
How to print anything using python on Jupyter Notebook?<br>
Tip-Anything can be printed using print() function.
use shift+ Enter to run a cell<br>
Get familer with Jupyter notebook <br>
using https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/ or
https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330

In [ ]:
print('Welcome to the world of Python Programming')

Welcome to the word of Python Programming

In [ ]:
print("RAm")

RAm

In [ ]:
print(1)

1

In [ ]:
print(name)

NameError: name 'name' is not defined

In [ ]:
print(1+2)

3

In [ ]:
print("Hi! I am a Begineer.")

Hi! I am a Begineer.

In [ ]:
a=1
print(a)

1

In [ ]:
type(a)

int

In [ ]:
a = 1.1
print(a)

1.1

In [ ]:
type(a)

float

In [ ]:
a = "Python Programming"
print(a)

Python Programming

In [ ]:
type(a)

str

In [ ]:
a = 2
b = 3
print("sum of two numbers is",a+b)

sum of two numbers is 5

In [ ]:
print(2+3)

5

24-6-24

*Day 2 *

**Keywords** <br>
Keywords are reserved words in python having a predefined meaning. We cannot use these words for any other purpose like variable names, function names or any other identifier, and are also case sensitive.

In [ ]:
import keyword
print(keyword.kwlist)
print("Total number of keywords in Python:", len(keyword.kwlist))
type(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Total number of keywords in Python: 35

list

In [ ]:
import sys
print(sys.version)

3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]

**History**<br>
Developed by *Guido Van Rossum.*<br>
Name was influenced from the comedy series "Monty Python's Flying Circus".<br>
In December 1989 the implmentation for the python language started and first source code was released in 1991.<br>
Latest version 3.10<br>
**Features**<br>
1) Easy to Learn<br>
2) Easy to Code<br>
3) Easy to Read<br>
4) Object Oriented<br>
5) High Level Language<br>
6) Supports Multiple Paradigm<br>
7) Free and Open Source <br>
8) Interpreted <br>
9) Dynamically Typed<br>
10) Portable or Cross Platform<br>
11) Extensible<br>
12) Integrated <br>
13) Interactive<br>
14) GUI Support<br>
15) Dynamic Memory Allocation<br>
16) Automatic Garbage Collection<br>
17) Large Library support<br>

**Versions**<br>
Python Version	Released Date<br>
Python 1.0	January 1994<br>
Python 1.5	December 31, 1997<br>
Python 1.6	September 5, 2000<br>
Python 2.0	October 16, 2000<br>
Python 2.1	April 17, 2001<br>
Python 2.2	December 21, 2001<br>
Python 2.3	July 29, 2003<br>
Python 2.4	November 30, 2004<br>
Python 2.5	September 19, 2006<br>
Python 2.6	October 1, 2008<br>
Python 2.7	July 3, 2010<br>
Python 3.0	December 3, 2008<br>
Python 3.1	June 27, 2009<br>
Python 3.2	February 20, 2011<br>
Python 3.3	September 29, 2012<br>
Python 3.4	March 16, 2014<br>
Python 3.5	September 13, 2015<br>
Python 3.6	December 23, 2016<br>
Python 3.7	June 27, 2018<br>
Python 3.8	October 14, 2019<br>
Python 3.9	October 05, 2020<br>
Python 3.10	October 04, 2021<br>

Python Programs can be run using two modes<br>
1) Interactive Mode
Python provides us the feature to execute the Python statement one by one at the interactive prompt. It is preferable in the case where we are concerned about the output of each line of our Python program. Use python Prompt<br>
2) Script Mode
The interpreter prompt is best to run the single-line statements of the code. However, we cannot write the code every-time on the terminal. It is not suitable to write multiple lines of code.

Using the script mode, we can write multiple lines code into a file which can be executed later. For this purpose, we need to open an editor like notepad, create a file named and save it with .py extension, which stands for "Python".
Open an Editor and write your python code. Save the file using .py extension. Open the Command Prompt and navigate to the directory holding the .py file. Now type python followed by filename.py<br>

**Day 3 **

**Identifiers**<br>

An identifier is a user-defined name to represent a variable, a function, a class, a module, or any other object.

**Rules for Naming Identifiers**<br>
a. A Python identifier can be a combination of lowercase/ uppercase letters, digits, or an underscore.<br>
b. An identifier cannot begin with a digit.<br>
c. We cannot use special symbols in the identifier name.<br>
d. We cannot use a keyword as an identifier.<br>
e. Python identifier can’t contain only digits.<br>
f. Python identifier name can start with an underscore.<br>
g. There is no limit on the length of the identifier name.<br>
h. Python identifier names are case-sensitive.<br>

Best Practice:
1. Class names should start with capital letters. For example Person, Employee, etc.<br>
2. If the class name has multiple words, use Uppercase for the first character of each word. For example EmployeeData, StringUtils, etc.<br>
3. You should use small letters for variables, functions, and module names. For example, collections, foo(), etc.<br>
4. If variables, functions, and module names have multiple words then separate them with an underscore. For example, is_empty(), employee_object, etc.<br>
5. For private variables, you can start their names with an underscore.<br>
6. Avoid underscore as the first and last character in the identifier name. It’s used by python built-in types.<br>
7. If the identifier starts and ends with two underscores, then it means that the identifier is a language-defined special name, such as __init__. So you should avoid having two underscores at the start and the end of the identifier name.<br>
8. Keep identifier names meaningful to clarify their intent. For example, phone_number, is_uppercase, etc.<br>
9. camel case for naming. Let’s just clear the air here by saying camel case is myVarOne<br>

To check whether you have not used a keyword as an identifier. Either remeber the list of keywords provided in Keyword module or import keyword module and use is iskeyword() function.<br>
Example : <br>

import keyword<br>
keyword.iskeyword('_$$_') it will return True or False. True for the string is present in Keyword list.<br>

To check any string is a valid identifier. use isindentifier() function of the str.<br>

'9lives'.isidentifier() it will return True or False<br>

Note : Use of underscore is somewhat different. Go through References for better understanding<br>
Reference:https://data-flair.training/blogs/identifiers-in-python/ <br>
https://www.askpython.com/python/python-identifiers-rules-best-practices<br>
https://dbader.org/blog/meaning-of-underscores-in-python <br>
https://towardsdatascience.com/5-different-meanings-of-underscore-in-python-3fafa6cd0379  (Essential Reading)

In [ ]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

dir() function in Python is used to list the names of the attributes and methods of an object

In [ ]:
'_' in dir(__builtins__)

False

In [ ]:
'sum' in dir(__builtins__)

True

In [ ]:
1+1

2

In [ ]:
'_' in dir(__builtins__)

False

In [ ]:
_

False

25-6-24

**Day 4**

**Variables**<br>
Variables are containers for storing data values. or reserved memory locations to store and manipulate values.<br>

A Python variable is a symbolic name that is a reference or pointer to an object. Once an object is assigned to a variable, you can refer to the object by that name. But the data itself is still contained within the object.<br>
n = 10 <br>
This assignment creates an integer object with the value 10 and assigns the variable n to point to that object.<br>
 m = n<br>
What happens when it is executed? Python does not create another object. It simply creates a new symbolic name or reference, m, which points to the same object that n points to.<br>
m = 400<br>
n = foo<br>

There is no longer any reference to the integer object 10 . It is orphaned, and there is no way to access it.<br>
An object’s life begins when it is created, at which time at least one reference to it is created. During an object’s lifetime, additional references to it may be created, as you saw above, and references to it may be deleted as well. An object stays alive, as it were, so long as there is at least one reference to it.<br>

When the number of references to an object drops to zero, it is no longer accessible. At that point, its lifetime is over. <br>Python will eventually notice that it is inaccessible and reclaim the allocated memory so it can be used for something else.  this process is referred to as garbage collection.<br>

In Python, every object that is created is given a number that uniquely identifies it. It is guaranteed that no two objects will have the same identifier during any period in which their lifetimes overlap. Once an object’s reference count drops to zero and it is garbage collected, as happened to the 10 object above, then its identifying number becomes available and may be used again.<br>
The built-in Python function id() returns an object’s integer identifier. Using the id() function, you can verify that two variables indeed point to the same object:
<br>
n = 300<br>
m = n<br>
After the assignment m = n, m and n both point to the same object, confirmed by the fact that id(m) and id(n) return the same number. <br>
id(n)<br>
60127840<br>
id(m)<br>
60127840<br>

Once m is reassigned to 400, m and n point to different objects with different identities.<br>
m = 400<br>
id(m)<br>
60127872<br>

**Caching Small Integer Values**<br>
try<br>
m=1<br>
id(m)<br>
n=1<br>
id(n)<br>
Whats the result? Answer to the solution is interning<br>

**Integer interning**<br>
At startup, Python pre-loads/caches a list of integers into the memory. These are in the range -5 to +256. Any time when we try to create an integer object within this range, Python automatically refer to these objects in the memory instead of creating new integer objects.<br>

**String interning**<br>
Like integers, some of the strings also get interned. Generally, any string that satisfies the identifier naming convention will get interned. Sometimes there will be exceptions. So, don’t rely on it.<br>

z = "data"<br>
y = "data"<br>
print(id(z))<br>
print(id(y))<br>

https://towardsdatascience.com/optimization-in-python-interning-805be5e9fd3e<br>
https://towardsdatascience.com/python-memory-and-objects-e7bec4a2845<br>

**Examples of Variables**<br>
A =10 ( python knows it is integer)<br>
B= 1.2 (float)<br>
C = 1+3j (complex)<br>
D=“Hello” or ‘Hello’ (string)<br>

x = 5 <br>
y = "John"<br>
var = 23.5<br>
<br>
If you want to specify the data type of a variable, this can be done with casting.<br>
<br>
Example<br>
x = str(3)    # x will be '3'<br>
y = int(3)    # y will be 3<br>
z = float(3)  # z will be 3.0<br>

**Multiple Assignments**<br>

Python allows you to assign a single value to several variables simultaneously. For example −<br>

a = b = c = 1<br>
Here, an integer object is created with the value 1, and all three variables are assigned to the same memory location.<br>

You can also assign multiple objects to multiple variables. For example −<br>

a,b,c = 1,2,"john"<br>
Here, two integer objects with values 1 and 2 are assigned to variables a and b respectively, and one string object with the value "john" is assigned to the variable c.<br>

 x,y,z = "Orange", "Banana", 'Cherry'<br>
 print(x)<br>
 print(y)<br>
 print(z)<br>

 x = y = z = "Mango"<br>
 print(x)<br>
 print(y)<br>
 print(z)<br>

A number in python can be represented in these forms:<br>

1. Decimal form (base 10)<br>
The allowed digits are : 0 to 9

2. Binary form (base 2)<br>
The allowed digits are : 0 & 1<br>
Literal value should be prefixed with 0b or 0B<br>
Eg:<br>
a = 0B1111<br>
a =0B123 (NOT ALLOWED)<br>
a=b111 (NOT ALLOWED)<br>

3. Octal form (base 8)<br>
The allowed digits are : 0 to 7<br>
Literal value should be prefixed with 0o or 0O.<br>
Eg: a=0o123<br>

4. Hexa decimal form (base 16)<br>
The allowed digits are : 0 to 9, a-f (both lower and upper cases are allowed)<br>
Literal value should be prefixed with 0x or 0X<br>
Eg:<br>
 a =0XFACE<br>

We can also do Base conversion by using in-built functions for base conversions<br>
1.bin():<br>
We can use bin() to convert from any base to binary<br>
2. oct():<br>
We can use oct() to convert from any base to octal<br>
3. hex():<br>
We can use hex() to convert from any base to hexa decimal<br>

**float data type**:<br>
We can use float data type to represent floating point values (decimal values)<br>
Eg: <br>
f=1.234<br>
type(f) float<br>
We can also represent floating point values by using exponential form (scientific notation)<br>
Eg: <br>
f=1.2e3<br>
print(f) 1200.0<br>
instead of 'e' we can use 'E'<br>
The main advantage of exponential form is we can represent big values in less memory.<br>
***Note:We can represent int values in decimal, binary, octal and hexa decimal forms. But we can represent float values only by using decimal form.**<br>

**Complex Data Type:**<br>
A complex number is of the form a+bj (where a is called real part and b is called imaginary part)<br>
a and b contain intergers or floating point values<br>
 Eg:<br>
 3+5j<br>
 10+5.5j<br>
 0.5+0.1j<br>
In the real part if we use int value then we can specify that either by decimal,octal,binary or hexa decimal form.<br>
But imaginary part should be specified only by using decimal form.<br>
1) >>> a=0B11+5j<br>
2) >>> a<br>
3) (3+5j)<br>
4) >>> a=3+0B11j<br>
5) SyntaxError: invalid syntax<br>
Even we can perform operations on complex type values.<br>
1) >>> a=10+1.5j<br>
2) >>> b=20+2.5j<br>
3) >>> c=a+b<br>
4) >>> print(c)<br>
5) (30+4j)<br>
6) >>> type(c)<br>
7) <class 'complex'> <br>

we can use builtin attributes, to extraxt the values<br>
a=10+1.5j<br>
a.real<br>
a.imag<br>

**bool data type:**<br>
We can use this data type to represent boolean values.The only allowed values for this data type are:<br>
True and False<br>
Internally Python represents True as 1 and False as 0<br>
b=True<br>
type(b) =>bool<br>
Eg:<br>
a=10<br>
b=20<br>
c=a<b<br>
print(c)==>True<br>
True+True==>2<br>
True-False==>1<br>

**None-Type**
There is a simple type, NoneType that has exactly one object: None. None is used to represent “null”… nothing.
`None` is the *only* object belonging to NoneType , and is often used as a placeholder in code.<br>
type(None)<br>
NoneType<br>

Example:<br>
large_num = None<br>

for number in [1, 2, 3, 4]:<br>
    if number > 10:<br>
        large_num = number<br>
        break<br>

if large_num is None:<br>
    print("The list did not contain any number larger than 10")<br>

In [ ]:
import math
print(math.e)

In [ ]:
a=10
b=0o10
c=0X10
d=0B10
print(a)
print(b)
print(c)
print(d)

10
8
16
2

18-06-2024

In [ ]:
print("1)",bool(0)) #==>False
print("2)",bool(1)) #==>True
print("3)",bool(10)) #===>True
print("4)",bool(10.5)) #===>True
print("5)",bool(0.178)) #==>True
print("6)",bool(0.0)) #==>False
print("7)",bool(10-2j)) #==>True
print("8)",bool(0+1.5j)) #==>True
print("9)",bool(0+0j)) #==>False
print("10)",bool("True")) #==>True # Any non-empty string is "truthy.
print("11)",bool("False")) #==>True
print("12)",bool("")) #==>False  #Any empty string is considered "falsy."

1) False
2) True
3) True
4) True
5) True
6) False
7) True
8) True
9) False
10) True
11) True
12) False

In [ ]:
True * 2

2

**Day 5**

**Python Statements**
Instructions that a Python interpreter can execute are called statements.
like a=1 , if statement, for statement etc

The statements which are used to assign a value to the variable are called as assignment statements.

The assignment statement gives a value to a variable:

message = "What's up, Doc?"<br>
n = 17<br>
pi = 3.14159<br>

This example makes three assignments. The first assigns the string value "What's up, Doc?" to a variable named message. The second gives the integer 17 to n, and the third assigns the floating-point number 3.14159 to a variable called pi.

The assignment token, =, should not be confused with equals, which uses the token ==. The assignment statement binds a name, on the left-hand side of the operator, to a value, on the right-hand side. This is why you will get an error if you enter:

17 = n <br>
File "<interactive input>", line 1<br>
SyntaxError: can't assign to literal<br>
Tip: When reading or writing code, say to yourself “n is assigned 17” or “n gets the value 17”. Don’t say “n equals 17”.

A common way to represent variables on paper is to write the name with an arrow pointing to the variable’s value. This kind of figure is called a state snapshot because it shows what state each of the variables is in at a particular instant in time. (Think of it as the variable’s state of mind).
<br>

**Expressions**
   
An expression is a combination of values, variables, operators, and calls to functions. If you type an expression at the Python prompt, the interpreter evaluates it and displays the result:

1 + 1 <br>
2<br>
len("hello")<br>
5<br>
    
In this example len is a built-in Python function that returns the number of characters in a string. We’ve previously seen the print and the type functions, so this is our third example of a function!

The evaluation of an expression produces a value, which is why expressions can appear on the right hand side of assignment statements. A value all by itself is a simple expression, and so is a variable.

17 <br>
y = 3.14<br>
x = len("hello")<br>
print(x)<br>
5<br>
print(y)<br>
3.14<br>
    
**Operators and operands**
Operators are special tokens that represent computations like addition, multiplication and division. The values the operator uses are called operands.
The tokens +, -, and *, and the use of parenthesis for grouping, mean in Python what they mean in mathematics. The asterisk (*) is the token for multiplication, and ** is the token for exponentiation.

1) >>> 2 ** 3 <br>
2) 8<br>
3) >>> 3 ** 2<br>
4) 9<br>
When a variable name appears in the place of an operand, it is replaced with its value before the operation is performed.

Addition, subtraction, multiplication, and exponentiation all do what you expect.

Example: so let us convert 645 minutes into hours:

1)>>> minutes = 645<br>
2)>>> hours = minutes / 60<br>
3)>>> hours<br>
10.75<br>

In Python 3, the division operator / always yields a floating point result. What we might have wanted to know was how many whole hours there are, and how many minutes remain. Python gives us two different flavors of the division operator. The second, called floor division uses the token //. Its result is always a whole number.

7 / 4<br>
1.75<br>
7 // 4<br><br>
1
minutes = 645<br>
hours = minutes // 60<br>
hours<br>
10<br>

**Type converter functions**

Here we’ll look at three more Python functions, int, float and str, which will (attempt to) convert their arguments into types int, float and str respectively. We call these type converter functions.

The int function can take a floating point number or a string, and turn it into an int. For floating point numbers, it discards the decimal portion of the number — a process we call truncation towards zero on the number line. Let us see this in action.
>>> int(3.14)<br>
3<br>
>>> int(3.9999)             # This doesn't round to the closest int!<br>
3<br>
>>> int(3.0)<br>
3<br>
>>> int(-3.999)             # Note that the result is closer to zero<br>
-3<br>
>>> int(minutes / 60)<br>
10<br>
>>> int("2345")             # Parse a string to produce an int<br>
2345<br>
>>> int(17)                 # It even works if arg is already an int<br>
17<br>
>>> int("23 bottles")<br>
This last case doesn’t look like a number — what do we expect?<br>

Traceback (most recent call last):<br>
File "<interactive input>", line 1, in <module><br>
ValueError: invalid literal for int() with base 10: '23 bottles'<br>

The type converter float can turn an integer, a float, or a syntactically legal string into a float:<br>

>>> float(17)<br>
17.0<br>
>>> float("123.45")<br>
123.45<br>

The type converter str turns its argument into a string:

>>> str(17)<br>
'17'<br>
>>> str(123.45)<br>
'123.45'<br>
    
**Multi-line statement**

Explicit Line Continuation is marked by backslash in last
a = 1 + 2 + 3 + \
      4 + 5 + 6 + \
      7 + 8 + 9
<br>Implicit line continuation is always available inside brackets.
a = (1 + 2 + 3 +
       4 + 5 + 6 +
        7 + 8 + 9)
        
We can also put multi line statements in a single statement using ;
A=1;b=2;c=3;

**String Formatters**<br>
X= 10; printer="HP"
X, printer = 10 , "HP"

print(" I just printed %s pages from the printer %s"%(X,printer))  # % string formatter

I just printed 10 pages from the printer HP

print("I just printed {0} pages from the printer {1}".format(X,printer)) #format
I just printed 10 pages from the printer HP

print("I just printed {X} pages from the printer {printer}".format(X=11,printer="Epson")) #format with assignment
I just printed 11 pages from the printer Epson

print(f" I just printed {x} pages from the printer {printer}")  # f-strings
 I just printed Mango pages from the printer HP

In [ ]:

a = 1 + 2 + 3 +
4 + 5 + 6 +
7 + 8 + 9

SyntaxError: invalid syntax (<ipython-input-20-3af5eb62a556>, line 1)

In [ ]:
a = 1 + 2 + 3+ \
4 + 5
a

15

In [ ]:
a

45

In [ ]:
 a = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9)

In [ ]:
a

45

In [ ]:
X= 10; printer="HP"
# X, printer = 10 , "HP"

print(" I just printed %s pages from the printer %s"%(printer,X))  # % string formatter

 I just printed HP pages from the printer 10

In [ ]:
print("I just printed {0} pages from the printer {1}".format(X,printer)) #format

I just printed HP pages from the printer 10

In [ ]:
print("{}, A computer science Engineering in .".format("Cetpa of Engineering & Technolgy"))

Cetpa of Engineering & Technolgy, A computer science Engineering in .

In [ ]:
# Python3 program to demonstrate
# the str.format() method

# using format option in a simple string
print("{}, A computer science Engineering in .".format("Cetpa of Engineering & Technolgy"))

# using format option for a
# value stored in a variable
str = "This article is written in {}"
print(str.format("Python"))

# formatting a string using a numeric constant
print("Hello, I am {} years old !".format(18))

Faculty of Engineering & Technolgy, A computer science Engineering in .
This article is written in Python
Hello, I am 18 years old !

In [ ]:
print("I just printed {X} pages from the printer {printer}".format(X=11,printer="Epson")) #format with assignment

I just printed 11 pages from the printer Epson

In [ ]:
print(f" I just printed {X} pages from the printer {printer}")  # f-strings

NameError: name 'X' is not defined

In [ ]:
# Python program using multiple place
# holders to demonstrate str.format() method

# different datatypes can be used in formatting
print("Hi ! My name is {} and I am {} years old".format("User", 19))

# The values passed as parameters
# are replaced in order of their entry
print("This is {} {} {} {}".format("one", "two", "three", "four"))

#positional arguments are placed in order
print("{0} love {1}!!".format("Fetians","FET"))

# Reverse the index numbers with the
# parameters of the placeholders
print("{1} love {0}!!".format("Fetians","FET"))

print("Every {} should know the use of {} {} programming and {}".format("programmer", "Open", "Source","Operating Systems"))

# Use the index numbers of the
# values to change the order that
# they appear in the string
print("Every {3} should know the use of {2} {1} programming and {0}".format("programmer", "Open", "Source","Operating Systems"))

# Keyword arguments are called
# by their keyword name
print("{gfg} is a {0} science portal for {1}".format("computer", "geeks", gfg="GeeksforGeeks"))

Hi ! My name is User and I am 19 years old
This is one two three four
Fetians love FET!!
FET love Fetians!!
Every programmer should know the use of Open Source programming and Operating Systems
Every Operating Systems should know the use of Source Open programming and programmer
GeeksforGeeks is a computer science portal for geeks

28-6

**Strings**

class str represents the Strings in Python.<br>
Strings in Python can be enclosed in either single quotes (') or double quotes ("), or three of each (''' or """).<br>
Example <br>

"Hello"<br>
'Hello'<br>
'''Hello'''<br>
"""Hello"""<br>

>>> type('This is a string.')<br>
<class 'str'><br>
>>> type("And so is this.")<br>
<class 'str'><br>
>>> type("""and this.""")<br>
<class 'str'><br>
>>> type('''and even this...''')<br>
<class 'str'><br>

Double quoted strings can contain single quotes inside them, as in "Bruce's beard", and single quoted strings can have double quotes inside them, as in 'The knights who say "Ni!"'.<br>

Strings enclosed with three occurrences of either quote symbol are called triple quoted strings. They can contain either single or double quotes:<br>

>>> print('''"Oh no", she exclaimed, "Ben's bike is broken!"''')<br>
"Oh no", she exclaimed, "Ben's bike is broken!"<br>

Triple quoted strings can even span multiple lines:<br>

>>> message = """This message will<br>
... span several<br>
... lines."""<br>
>>> print(message)<br>
This message will<br>
span several<br>
lines.<br>

Python doesn’t care whether you use single or double quotes or the three-of-a-kind quotes to surround your strings: once it has parsed the text of your program or command, the way it stores the value is identical in all cases, and the surrounding quotes are not part of the value.

**String Slicing**
String are just represented as Arrays and supports Slicing

slice means a piece<br>
[] operator is called slice operator,which can be used to retrieve parts of String.<br>
In Python Strings follows zero based index.<br>
The index can be either +ve or -ve.<br>
+ve index means forward direction from Left to Right<br>
-ve index means backward direction from Right to Left<br>

Example<br>
s = "Fetians"<br>
indexing starts from 0 to length -1<br>
s[0] -->'F' , s[1] -->'e',s[2] -->'t', s[3] -->'i',s[4] -->'a',s[5] -->'n',s[6] -->'s'<br>

Strings are immutable (Not changeable) <br>
	a = “ Namit”  ---a[0] = ‘S’ ---ERROR <br>
For shorter strings with same value, they are stored at one place and reference is shared with different variables. That’s why strings are made immutable, so changes occur and both variables can have consistent view of the string.<br>

The slice s[start:end] is the elements beginning at start and extending up to but not including end. Suppose we have s = "Hello“<br>
s[1:4] is 'ell' -- chars starting at index 1 and extending up to but not including index 4<br>
s[1:] is 'ello' -- omitting either index defaults to the start or end of the string<br>
s[:] is 'Hello' -- omitting both always gives us a copy of the whole thing (this is the pythonic way to copy a sequence like a string or list)<br>
s[1:100] is 'ello' -- an index that is too big is truncated down to the string length<br>

Python also supports negative indexing<br>
negative indexing starts with -1, which represents the last character.<br>

In [ ]:
s= 'Cetpass'

In [ ]:
print(s[0])  #F
print(s[1])  #e
print(s[2])  #t
print(s[3])  #i
print(s[4])  #a
print(s[5])  #n
print(s[6])  #s
print(s[7])  #Error: Index out of bounds or range

C
e
t
p
a
s
s

IndexError: string index out of range

In [ ]:
#Slincing[start:end] {remember end is not included}
#slice Fet from the string Fetians
print(s[0:3]) # 0-F,1-e,2-t

Cet

In [ ]:
#slice etia from the string Fetians
print(s[1:5])

etpa

In [ ]:
# slice ans from Fetians
print(s[4:7])
print(s[4:])

ass
ass

In [ ]:
# slice[start:end] -- all characters starting at start index upto end-1 (i.e excluding end)
#What if de omit end parameter
print(s[0:])
print(s[1:])
print(s[2:])
print(s[4:])

Cetpas
etpas
tpas
as

In [ ]:
# What if we omit start index from the slice
print(s[:5])
print(s[:4])
print(s[:2])

Cetpa
Cetp
Ce

In [ ]:
#Negative Indexing (Remember : String is always read from left to right)
#negative indexing starts with -1, which represents the last character.
#s[-7] -->'F' , s[-6] -->'e',s[-5] -->'t', s[-4] -->'i',s[-3] -->'a',s[-2] -->'n',s[-1] -->'s'

In [ ]:

print(s[-6])  #e
print(s[-5])  #t
print(s[-4])  #i
print(s[-3])  #a
print(s[-2])  #n
print(s[-1])  #s

e
t
p
a
s
s

In [ ]:
#Slincing[start:end] {remember end is not included}
#slice Fet from the string Fetians using negative indexing
print(s[-6:-4]) # -7->F,-6->e,-5->t

et

In [ ]:
#slice etia from the string Fetians using negative indexing
print(s[-6:-2])

etpa

In [ ]:
#slice tia from the string Fetians using negative indexing DIY
s[-5:-2]

'tpa'

In [ ]:
#what will happen if we omit the start index in negative indexed slicing
print(s[:-1])
print(s[:-2])
print(s[:-3])
print(s[:-4])

Cetpas
Cetpa
Cetp
Cet

In [ ]:
#what will happen if we omit the end index in negative indexed slicing
print(s[-1:])
print(s[-2:])
print(s[-3:])
print(s[-4:])

s
ss
ass
pass

In [ ]:
#What will happen if we forget both start and end index
print(s[:])

Cetpass

In [ ]:
print(s[0:6:2]) # slicing with jump[start:end:jump]
print(s[:6:])
print(s[:6:1])
print(s[::])
print(s[::-1])

Cta
Cetpas
Cetpas
Cetpass
ssapteC

**Few Useful String Functions**<br>
a = “Hello Python”<br>
len(a) – Gives the length of the String<br>
a.lower() – Converts all Uppercase to Lower<br>
a.upper() – Converts all lowercase to upper<br>
a.find(‘Python’) -searches for the given other string (not a regular expression) within s, and returns the first index where it begins or -1 if not found.<br>
a.strip() -- returns a string with whitespace removed from the start and end.<br>
s.startswith('other'), s.endswith('other') -- tests if the string starts or ends with the given other string<br>
s.split('delim') -- returns a list of substrings separated by the given delimiter. The delimiter is not a regular expression, it's just text. <br>
'aaa,bbb,ccc'.split(',') -> ['aaa', 'bbb', 'ccc']. As a convenient special case s.split() (with no arguments) splits on all whitespace chars.

a.count(‘Python’) -Python string method count() returns the number of occurrences of substring sub in the range [start, end]. Optional arguments start and end are interpreted as in slice notation.<br>
a.index(str, beg=0, end=len(string)) - Same as find(), but raises an exception if str not found.<br>
https://towardsdatascience.com/useful-string-methods-in-python-5047ea4d3f90

In [ ]:
a= "cetpa of engineering aND teCHnology"

In [ ]:
len(a)

35

In [ ]:
a.upper()

'CETPA OF ENGINEERING AND TECHNOLOGY'

In [ ]:
a.lower()

'cetpa of engineering and technology'

In [ ]:
text = "Stra&a"

In [ ]:
text.lower()

'stra&a'

In [ ]:
text.casefold()

'stra&a'

diff blw casefold and lower ?

In [ ]:
text = "Straße"

lower_text = text.lower()
casefold_text = text.casefold()

print(lower_text)  # Output: straße
print(casefold_text)  # Output: strasse

In [ ]:
a.title()

'Cetpa Of Engineering And Technology'

In [ ]:
a.casefold()

'cetpa of engineering and technology'

In [ ]:
a = 'Cepta of engineering and technology'
a.count('of')

1

In [ ]:
a.count("o")

3

In [ ]:
print(a.center(41,'#'))
print(a)

###Cepta of engineering and technology###
Cepta of engineering and technology

In [ ]:
 a.startswith('C')

True

In [ ]:
a.endswith('o')

False

22/7

In [ ]:
message = 'Python is a fun programming language and uses functional programming too. Having more fun.'
# The find() method returns the index of first occurrence of the substring (if found).
# If not found, it returns -1.
# check the index of 'fun'
print(message.find('hy'))
print(message.find('fun'))
print(message.index('fun'))
#print(message.index('u'))
print(message.index('fun',13))
print(message.index('fun',48))

print(message.index('u',14))

-1
12
12
13
46
86
32

In [ ]:
x='Python is a fun programming langu'
len(x)

33

24-6-24

In [ ]:
# The index() method is similar to the find() method for strings.

# The only difference is that find() method
# returns -1 if the substring is not found, whereas index() throws an exception.

sentence = 'Pythoning programming is fun.'

# Substring is searched in 'gramming is fun.'
print(sentence.find('ing'))
print(sentence.index('ing', 10))

# Substring is searched in 'gramming is '
print(sentence.index('g is', 10))
#print(sentence.index('g is', 10,-4))

# Substring is searched in 'programming'
#print(sentence.index('fun', 7, 18))

s = "Hello"
print(s[::-1])

6
18
20
olleH

In [ ]:
s1 = 'abc'
s2 = '123'

# each element of s2 is separated by s1. s1 will act like seperator.
# '1'+ 'abc'+ '2'+ 'abc'+ '3'
print('s1.join(s2):', s1.join(s2))

# each element of s1 is separated by s2. s2 will act like seperator.
# 'a'+ '123'+ 'b'+ '123'+ 'b'
print('s2.join(s1):', s2.join(s1))

s1.join(s2): 1abc2abc3
s2.join(s1): a123b123c

In [ ]:
#The split() method breaks up a string at the specified separator and returns a list of strings.
text = 'Python is a fun programming language'

# split the text from space
print(text.split(" "))

# Output: ['Python', 'is', 'a', 'fun', 'programming', 'language']

['Python', 'is', 'a', 'fun', 'programming', 'language']

In [ ]:
# The syntax of split() is:

# str.split(separator, maxsplit)
# split() Parameters
# The split() method takes a maximum of 2 parameters:

# separator (optional)- Delimiter at which splits occur. If not provided, the string is splitted at whitespaces.
# maxsplit (optional) - Maximum number of splits. If not provided, there is no limit on the number of splits.

In [ ]:
text= 'Love thy neighbor'

# splits at space
print(text.split())

grocery = 'Coffee, Tea, Milk'

# splits at ','
print(grocery.split(', '))

# Splits at ':' # seperator is not present in the given variable grocery, hence it returned a single element.
print(grocery.split(':'))

['Love', 'thy', 'neighbor']
['Coffee', 'Tea', 'Milk']
['Coffee, Tea, Milk']

In [ ]:
grocery = 'Milk, Horlicks, Bread, Butter'

# maxsplit: 2
print(grocery.split(', ', 2))

# maxsplit: 1
print(grocery.split(', ', 1))

# maxsplit: 5
print(grocery.split(', ', 5))

# maxsplit: 0
print(grocery.split(', ', 0))

['Milk', 'Horlicks', 'Bread, Butter']
['Milk', 'Horlicks, Bread, Butter']
['Milk', 'Horlicks', 'Bread', 'Butter']
['Milk, Horlicks, Bread, Butter']

In [ ]:
#The splitlines() method splits the string at line breaks and returns a list.
# \n is a line boundary
sentence = 'I\nlove\nPython\nProgramming.'

# returns a list after spliting string at line breaks
resulting_list = sentence.splitlines()

print(resulting_list)

# Output: ['I', 'love', 'Python', 'Programming.']

['I', 'love', 'Python', 'Programming.']

In [ ]:
b = "HELLO"

HW

In [ ]:
b.casefold()

'hello'

In [ ]:
b.swapcase()

'hello'

In [ ]:
# Program to reverse a string using join and reversed function
b = "Hello"
b ="".join(reversed(b))
print(b)

olleH

In [ ]:
b = 123
b = "".join(reversed(b))
print(b)

TypeError: 'int' object is not reversible

In [ ]:
b = '123'
b = "".join(reversed(b))
print(b)

321

In [ ]:
# Example 1: Leading whitespace
a = "   hello"
print(a.strip())  # Output: "hello"

# Example 2: Trailing whitespace
a = "hello   "
print(a.strip())  # Output: "hello"

# Example 3: Leading and trailing whitespace
a = "   hello   "
print(a.strip())  # Output: "hello"

# Example 4: No whitespace
a = "hello"
print(a.strip())  # Output: "hello"

# Example 5: Empty string
a = "   "
print(a.strip())  # Output: ""

**String Concatenation**<br>
S = “red”<br>
S = S + “blue” ----redblue ( new string) strings are immutable<br>
S+= ‘ blue’ ----- redblueblue<br>
A = “ blue”<br>
A = A * 2 ---- blueblue ( i.e A+A)<br>
A =A* 3 ---- blueblueblueblueblueblue (A+A+A)<br>
What will be A = A * 1 ?<br>

b = “yellow”<br>
b = b + 3 --- error 3 is integer<br>
Do b = b + str(3) --- yellow3<br>

In [ ]:
S = "red"
S = S + "blue"
print(S)
S+= 'blue'
print(S)

redblue
redblueblue

In [ ]:
A = "blue"
A = A * 2
print(A)
A = A * 3
print(A)
#What will be A = A * 1 ?
A = A * 1
A

blueblue
blueblueblueblueblueblue

'blueblueblueblueblueblue'

In [ ]:
b = "yellow"
#b = b + 3
b = b + str(3)# --- yellow3
b

'yellow3'

In [ ]:
#Python does not support use of curly braces to delimit the code blocks
#Use Spaces, tabs or combination
#Indentation to mark the start of the block
x = "one"
def myfunc():
 global x
 x = "fantastic"
myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
def square(a):
 return a**2
square(2)

4

In [ ]:
##Comments and DocStrings
#Fucntion to square a value----> #Comment
def square(a:int) -> "the square of a number":  ##function annotation
 '''computes square of input variable a'''      ## Doc-string
 z = a**2
 return z
square(3)

9

In [ ]:
#square(#press shift+Tab to view details of the function
#or
#use square?
#or square.__doc__
square.__annotations__

{'a': int, 'return': 'the square of a number'}

In [ ]:
square(9)

81

In [ ]:
square.__doc__

'computes square of input variable a'

In [ ]:
__doc__

'Automatically created module for IPython interactive environment'

In [ ]:
help()

Welcome to Python 3.8's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.8/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> bool
Help on class bool in module builtins:

class bool(int)
 |  bool(x) -> bool
 |
 |  Returns True when the argument x is true, False otherwise.
 |  The builtins True and False are the only two instances of the class bool.
 |  The class bool is a subclass of the class int, and cannot be subclassed.
 |
 |  Method resolution order:
 |      bool
 |      int
 |      object
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from int:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  as_integer_ratio(self, /)
 |      Return integer ratio.
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original int
 |      and with a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  to_bytes(self, /, length, byteorder, *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from int:
 |
 |  from_bytes(bytes, byteorder, *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from int:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

help> exit
No Python documentation found for 'exit'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help>

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

**Operators**

**Airthmatic Operators**<br>
 + Addition<br>
 - Subtraction<br>
 * Multiplication<br>
 / Division<br>
 // Floor Division<br>
 ** Exponentiation<br>
 % Modulo Division<br>
 A=10; B =4;<br>
 A/B =2.5 and A//B =2 and 'A**B 10000 and A%B = 2<br>
 “23” + “43” –string uses + operator for concatenation<br>
**Note:
/ operator always performs floating point arithmetic. Hence it will always returns float value.<br>
But Floor division (//) can perform both floating point and integral arithmetic. If arguments are int type then result is int type. If atleast one argument is float type then result is float type.<br>**

In [ ]:
a,b=10,2
print('a+b=',a+b)
print('a-b=',a-b)
print('a*b=',a*b)
print('a/b=',a/b)
print('a//b=',a//b)
print('a%b=',a%b)
print('a**b=',a**b)

a+b= 12
a-b= 8
a*b= 20
a/b= 5.0
a//b= 5
a%b= 0
a**b= 100

**Relational Operator**
The operators which compare the values of their operands are called comparison/ relational operators. <br>
Python has 6 Relational/Comparison Operators<br>
1) == If the values of two operands are equal, then the condition is true, otherwise, it is false. Common Mistake:- Do not confuse it with the Assignment Operator(=). (X == Y) is True.<br>
2) != If the values of the two operands are not equal, then the condition is true. (X != Y) is true. <br>
3) > If the value of the left operand is greater than the value of the right operand, then the condition is true. (X > Y) is false <br>
4) < If the value of the left operand is less than the value of the right operand, then the condition is true. (X < Y) is true.<br>
5) >= If the value of the left operand is greater than or equal to the value of the right operand, then the condition is true. (X >= Y) is false.<br>
6) <= If the value of the left operand is less than or equal to the value of the right operand, then the condition is true. (X <= Y) is true.<br>

In [ ]:
a,b=10,2
print('Are they equal?',a==b)
print('Are they not equal?',a!=b)
print('a>b? ',a>b)
print('a<b? ',a<b)
print('a>=b? ',a>=b)
print('a<=b?',a<=b)

Are they equal? False
Are they notequal? True
a>b?  True
a<b?  False
a>=b?  True
a<=b? False

**Logical Operators**<br>
The operators which act on one or two boolean values and return another boolean value are called logical operators. There are 3 key logical operators.<br>
and - Logical AND: If both the operands are True then the condition is true. (X and Y) is false <br>
or -  Logical OR: If any of the two operands True are then the condition is true. (X or Y) is true <br>
not - Logical NOT: Used to reverse the logical state of its operand. Not(X) is false<br>

<tr><b>AND TRUTH TABLE<tr><br>
<tr>
    <th><td> <b>   X  <td>
    <th><td> <b>   Y   <td>
    <th><td> <b>   X and Y<td>
<tr><br>
<tr>
    <th><td> <b>  0<td>
    <th><td> <b>  0<td>
    <th><td> <b>  0<td>
<tr><br>
<tr>
    <th><td> <b>1<td>
    <th><td> <b>0<td>
    <th><td> <b>0<td>
<tr><br>
<tr>
    <th><td> <b>0<td>
    <th><td> <b>1<td>
    <th><td> <b>0<td>
<tr><br>
<tr>
    <th><td> <b>1<td>
    <th><td> <b>1<td>
    <th><td> <b>1<td>
<tr><br>

In [ ]:
#AND OPERATOR
# Suppose x = 0 (false) and y = 1 (true)
x,y=bool(0),bool(0)
_and = x and y
print("x=0 and y=0", _and)

x,y=bool(1),bool(0)
_and = x and y
print("x=1 and y=0", _and)

x,y=bool(0),bool(1)
_and = x and y
print("x=0 and y=1", _and)

x,y=bool(1),bool(1)
_and = x and y
print("x=1 and y=1", _and)

x=0 and y=0 False
x=1 and y=0 False
x=0 and y=1 False
x=1 and y=1 True

**OR TRUTH TABLE**

<tr><b>OR TRUTH TABLE<tr><br>
<tr>
    <th><td> <b>   X  <td>
    <th><td> <b>   Y   <td>
    <th><td> <b>   X OR Y<td>
<tr><br>
<tr>
    <th><td> <b>  0<td>
    <th><td> <b>  0<td>
    <th><td> <b>  0<td>
<tr><br>
<tr>
    <th><td> <b>1<td>
    <th><td> <b>0<td>
    <th><td> <b>1<td>
<tr><br>
<tr>
    <th><td> <b>0<td>
    <th><td> <b>1<td>
    <th><td> <b>1<td>
<tr><br>
<tr>
    <th><td> <b>1<td>
    <th><td> <b>1<td>
    <th><td> <b>1<td>
<tr><br>

In [ ]:
#OR OPERATOR
# Suppose 0 (false) and 1 (true)

x,y=bool(0),bool(0)
_or = x or y
print("x=0 or y=0", _or)

x,y=bool(1),bool(0)
_or = x or y
print("x=1 or y=0", _or)

x,y=bool(0),bool(1)
_and = x or y
print("x=0 or y=1", _or)

x,y=bool(1),bool(1)
_and = x or y
print("x=1 or y=1", _or)

x=0 or y=0 False
x=1 or y=0 True
x=0 or y=1 True
x=1 or y=1 True

<tr><b>NOT TRUTH TABLE<tr><br>
<tr>
    <th><td> <b>   X  <td>
    <th><td> <b>   NOT X   <td>
<tr><br>
<tr>
    <th><td> <b>  0<td>
    <th><td> <b>  1<td>
<tr><br>
<tr>
    <th><td> <b>1<td>
    <th><td> <b>0<td>
<tr><br>

In [ ]:
x=bool(0)
_not = not x
print("not of x=0 ", _not)

x=bool(1)
_not = not x
print("not of x=1", _not)

not of x=0  True
not of x=1 False

**Assignment Operators**<br>
1) =    Stores the right side operand to left side operand<br>
2) +=   Sum of both operands is calculated and then sum is stored in left side operand<br>
3) -=   Difference is calculated and result is stored in left side operand.<br>
4) \*=   Multiplication of both operands is calculated and stored in left side operand.<br>
5) /=   Float Division is done and result ( i.e quotient)is stored in left side operand.<br>
6) //=  Floor Division is done and result ( i.e quotient with fractional part) is stored in left side operand.<br>
7) %=   Modulo Divison is done and result ( i.e reminder) is stored in left side operand.<br>
8) **=  Exponentiation is done and result is stored in left side operand.<br>

In [ ]:
a=1
print("a=",a)

a+=1
print("a+=1 ",a) # a= a+1

a-=1
print("a-=1 ",a) #a = a -1

a*=2
print("a*=2 ",a)# a = a*2

a/=4
print("a/=4 ",a)# a = a/4

a//=3
print("a//=3 ",a) # a= a//3

a=4
a%=3
print("a%=3 ",a) # a = a%3

a=4
a**=2
print("a**=2 ",a)# a= a**2

a= 1
a+=1  2
a-=1  1
a*=2  2
a/=4  0.5
a//=3  1
a%=3  1
a**=2  16

**Order of Operations and Associavity**<br>
Except Exponentiation all operators are left associative.<br>
Comparision and Assignment operators are non associative<br>
Order od Precedence <br>
P - Paranthesis (())<br>
E - Exponentiation(\**)<br>
M - Multiplication(\*), D - Division(/) , FD - floor division(//) and MD - modulo division(%)<br>
A - Addition(+), S - Subtraction(-) <br>
BLS - Bitwise Left shift (>>) and BRS - Bitwise Right Shift(>>)<br>
BA - Bitwise And (&)<br>
BOR - Bitwise OR (|) and BXOR - Bitwise XOR (^)<br>
Non equality comparision (<=,>=,<,>)<br>
Equality Compraision operators (==,!=)<br>
Assignment Operators (=,+=,-=,\*=,/=,//==,%=)<br>
Identity Operators (is , is not)<br>
Membership Operators (in, not in)<br>
Logical Operators (AND,OR,NOT)<br>

In [ ]:
print(5-2)
print(10-5/5)
print(2*(3-1))
print((1+1)**(-2))
print(2**1+1)
print(3*1**3)
print(2 ** 3 ** 2)  # exponentiation is right associative
print(45 % 10 / 2)

print(3**1 + 2**2**2)

3
9.0
4
0.25
3
3
512
2.5
19

**Bitwise Operator**
These operators operate bitwise.<br>
These operators are applicable only for int and boolean types.<br>
By mistake if we are trying to apply for any other type then we will get Error.<br>
& --> If both bits are 1 then only result is 1 otherwise result is 0<br>
| --> If atleast one bit is 1 then result is 1 otherwise result is 0<br>
^ --> If bits are different then only result is 1 otherwise result is 0<br>
~ --> bitwise complement operator i.e 1 means 0 and 0 means 1<br>
\>> --> Bitwise Right shift Operator<br>
<<  -->Bitwise Left shift Operator<br>

**BITWISE AND &**<br>
a = 0  0  0  0  1  0  1  0<br>
b = 0  0  0  0  1  1  1  0<br>
r = 0  0  0  0  1  0  1  0<br>

In [ ]:
a=10
bin(10)

'0b1010'

In [ ]:
b= 14
bin(14)

'0b1110'

In [ ]:
print(a&b)

10

**BITWISE OR |**<br>
a = 0  0  0  0  1  0  1  0<br>
b = 0  0  0  0  1  1  1  0<br>
r = 0  0  0  0  1  1  1  0<br>

In [ ]:
print(a|b)

14

**BITWISE XOR |**The result in each position is 1 if only one of the bits is 1, but will be 0 if both are 0 or both are 1<br>
a = 0  0  0  0  1  0  1  0<br>
b = 0  0  0  0  1  1  1  0<br>
r = 0  0  0  0  0  1  0  0<br>

In [ ]:
print(a^b)

4

**BITWISE NOT**
the bitwise NOT operator (~), which expects just one argument, making it the only unary bitwise operator. It performs logical negation on a given number by flipping all of its bits.<br>
0 to 1<br>
1 to 0

In [ ]:
~10
#output -11

-11

In [ ]:
~34

-35

Therefore, ~10 results in -11.
Key points:

The ~ operator performs a bitwise NOT,
which is a 1's complement operation.
The result is interpreted in two's complement form.
This leads to the outcome being one less than the negative of the original number.

In [ ]:
# let us assume 8 bit system for integers
# then 10 in binary is  0 0 0 0 1 0 1 0
# negating 10 will form 1 1 1 1 0 1 0 1 (which is a negative number as MSB is 1)
# now to read a negative number will should do 2's complement
# 1 1 1 1 0 1 0 1

# 0 0 0 0 1 0 1 0  ( 1's Complement)
#             + 1
# -----------------
# 0 0 0 0 1 0 1 1 ( this is negative eleven )

**LEFT SHIFT**<br>
Left Shift The bitwise left shift operator (<<) moves the bits of its first operand to the left by the number of places specified in its second operand. It also takes care of inserting enough zero bits to fill the gap that arises on the right edge of the new bit pattern.Shifting a single bit to the left by one place doubles its value.<br>
    a	   100111	  39<br>
a << 1	  1001110	  78<br>
a << 2	 10011100	  156<br>
a << 3	100111000	  312<br>

In general, shifting bits to the left corresponds to multiplying the number by a power of two, with an exponent equal to the number of places shifted:<br>

The arithmetic formula for the left shift operator<br>
a<<n = a * 2\**n<br>
The left shift used to be a popular optimization technique because bit shifting is a single instruction and is cheaper to calculate than exponent or product. <br>

**Right Shift**<br>
The bitwise right shift operator (>>) is analogous to the left one, but instead of moving bits to the left, it pushes them to the right by the specified number of places. The rightmost bits always get dropped.<br>
Every time you shift a bit to the right by one position, you halve its underlying value. Moving the same bit by two places to the right produces a quarter of the original value, and so on.<br>
a	    10011101	157<br>
a >> 1	1001110	    78<br>
a >> 2	100111	    39<br>
a >> 3	10011	    19<br>

**Identity Operator**<br>
Operator checks if both operands are same or not.<br>

if x and y are equal then <br>
x is y --> True<br>
x is not y  --> False<br>

if x and y are not equal then <br>
x is y --> False<br>
x is not y  --> True<br>

In [ ]:
x = 200
y = 300
print(x==y)
print (x is y)
print (x is not y)

False
False
True

In [ ]:
x = 300
y = 300
print(x==y)
print (x is y) # False, as it is checking the memory location not the value at the location
print (x is not y)
# check what is x,y= 300,300 in above case? Hint: Memory Optimiztion

True
False
True

In [ ]:
x,y = 300,300
print(x==y)
print (x is y) # False, as it is checking the memory location not the value at the location
print (x is not y)
# check what is x,y= 300,300 in above case? Hint: Memory Optimiztion

True
True
False

**Membership Operators**<br>
They are used to test whether a value or variable is found in a sequence.<br>

if x is present in sequence y.<br>
in -> true the element is present in the sequence.<br>
not in -> false the element is present in the sequence.<br>

if x is not present in sequence y.<br>
in -> false the element is not present in the sequence.<br>
not in -> true the element is not present in the sequence.<br>

In [ ]:
x = 'Hello world'
y = [1,2,3,4]
#y = 1,2,3,4
#y = {1:'a',2:'b'}

# Output: True
print('H' in x)

# Output: True
print('hello' not in x)

# Output: True
print(1 in y)

# Output: False
print('b' in y)

True
True
True
False

**Condional or Decision making Statements**<br>

There are situations where we want a code block to execute when certain criteria or expression evaluates to be True or false, in such situations we want change the regular control flow of the program. To meet these requirements conditional or decision making statements are used. <br>


1) **if statement** : when the condition or criteria evalutes to true , the execution to the code block starts.
The If statement is the most fundamental decision-making statement, in which the code is executed based on whether it meets the specified condition. It has a code body that only executes if the condition in the if statement is true. The code block can be a single line or a block of code.

In [ ]:
num = 5
if num > 0:
    print(num, "is a positive number.")
print("This statement is true.")

5 is a positive number.
This statement is true.

In [ ]:
num = 11
if (num < 10):
        print("Num is smaller than 10")
print("This statement will always be executed")

This statement will always be executed

In [ ]:
a = 225
b = 170
if b > a:
  print("b is greater than a")

In [ ]:
#You have written an exam for a total score of 100 and if your score is above or equal
#to 60 then you will be considered as PASS in the exam.
passing_Score = 60
my_Score = 67
if(my_Score >= passing_Score):
             print("Congratulations! You have passed your exam")
print("This is always executed")

Congratulations! You have passed your exam
This is always executed

2) **If Else Statement**

This statement is used when both the true and false parts of a given condition are specified to be executed. When the condition is true, the statement inside the if block is executed; if the condition is false, the statement inside else block is executed.

In [ ]:
num = 0
if num >= 0:
    print("Positive or Zero")
else:
     print("Negative number")

Positive or Zero

In [ ]:
num = 5
if(num > 10):
    print("number is greater than 10")
else:
    print("number is less than 10")
print("This statement will always be executed")

number is less than 10
This statement will always be executed

In [ ]:
a = 7
b = 0
if (a < b):
            print( "a is smaller than b" )
else:
            print( "b is smaller than a" )

b is smaller than a

In [ ]:
passing_Score = 60
my_Score = 67
if(my_Score >= passing_Score):
             print("Congratulations!")
             print("You are passed in the exam")
else:
             print("Sorry! You failed the exam, better luck next time")

Congratulations!
You are passed in the exam

3) **elif statements**
In Python, we have one more conditional statement called “elif” statements. “elif” statement is used to check multiple conditions only if the given condition is false. It’s similar to an “if-else” statement and the only difference is that in “else” we will not check the condition but in “elif” we will check the condition.<br>

“elif” statements are similar to “if-else” statements but “elif” statements evaluate multiple conditions.<br>

Syntax:<br>

if (condition):<br>
&emsp;#Set of statement to execute if condition is true<br>
elif (condition):<br>
&emsp;#Set of statements to be executed when if condition is false and elif condition is true<br>
else:<br>
&emsp;#Set of statement to be executed when both if and elif conditions are false<br>

In [ ]:
num = 10
if (num == 0):
     print("Number is Zero")
elif (num > 5):
       print("Number is greater than 5")
else:
       print("Number is smaller than 5")

Number is greater than 5

In [ ]:
num = 0
if (num > 0):
    print("Number is positive")
elif (num < 0):
    print("Number is negative")
else:
    print("Number is Zero")

Number is Zero

In [ ]:
my_marks = 90
if (my_marks < 40):
              print("Sorry!, You failed the exam")
elif(my_marks > 60 and my_marks <75):
              print("Passed in First class")
elif(my_marks > 75 and my_marks <=100):
              print("Passed in First class with distinction")
else :
              print("Marks are out of Maximum Range! Re-enter")

Passed in First class with distinction

**Nested if**
A nested if is an if statement that is present in the code block of
another if statement. In other words, it means- an if statement inside
another if statement. A nested conditional will be executed only when the
parent conditional is true.

In [ ]:
num = 0
if num >= 0:
    if num == 0:
        print("zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Negative number

In [ ]:
# short hand if statement
num = 7
if (num > 0): print("Number is greater than Zero")

Number is greater than Zero

In [ ]:
a = 10
if (a):
    print( "The given value of a: " )
    print(a)

The given value of a:
10

In [ ]:
# short hand if else statement or Ternary operator of python
#Syntax
# value_if_true  if  condition  else  value_if_false
a = 7
b = 9
print("A") if a > b else print("B")
# if a>b:
#     print('A')
# else:
#     print('B')

B

In [ ]:
# short hand if else statement with 3 conditions
a = 3
b = 5
print("A is greater") if a > b else {print("=") if a == b else print("B is greater")}

B is greater

{None}

In [ ]:
#Example
num = 2
if num >= 0:
    sign = "positive"
else:
    sign = "negative"

# Equivalent inline code
sign = "positive" if num >=0 else "negative"

In [ ]:
num = 0
if (num < 0): print("Number is smaller than Zero")
elif (num > 0): print("Number is greater than Zero")
else: print("Number is Zero")

Number is Zero

In [ ]:
num1 = 10
num2 = 20
num3 = 30
if (num1 == 10 and num2 == 20 and num3 == 30):
             print("All the conditions are true")

All the conditions are true

**Challenge Problem**<br>
In the Gregorian calendar, a normal year consists of 365 days. Because the actual length of a sidereal year (the time required for the Earth to revolve once about the Sun) is actually 365.2425 days, a "leap year" of 366 days is used once every four years to eliminate the error caused by three normal (but short) years.
<br>
To determine whether a year is a leap year, follow these steps:

1. If the year is evenly divisible by 4, go to step 2. Otherwise, go to step 5.
2. If the year is evenly divisible by 100, go to step 3. Otherwise, go to step 4.
3. If the year is evenly divisible by 400, go to step 4. Otherwise, go to step 5.
4. The year is a leap year (it has 366 days).
5. The year is not a leap year (it has 365 days).

In [ ]:
# Python program to check leap year or not
checkyear =int(input("Enter the year"))
if (checkyear % 4) == 0:
    if (checkyear % 100) == 0:
        if (checkyear % 400) == 0:
            print("This is a leap year.")
        else:
            print("This is not a leap year.")
    else:
          print("This is not a leap year.")
else:
    print("This is not a leap year.")

Enter the year2000
This is a leap year.

**Challenge Problem 2**
Change the above program to ask the user to input the year and month (in numerals) and display whether the year is leap year or not and also display the number of days in the month.

In [ ]:
currentYear = int(input ("Enter the year: " ) )
month = int(input("Enter the month: " ) )
if ((currentYear % 4 ) == 0 and (currentYear % 100 ) != 0 or (currentYear % 400 ) == 0 ):
       print("Leap Year")
       if(month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10 or month == 12):
               print("There are 31 days in this month " )
       elif ( month == 4 or month == 6 or month == 9 or month == 11 ):
        print("There are 30 days in this month " )
       elif ( month == 2 ):
        print("There are 29 days in this month " )
       else:
        print("Invalid month ")
elif ( ( currentYear % 4 ) != 0 or ( currentYear % 100 ) != 0 or ( currentYear % 400 ) != 0 ):
       print("Non Leap Year " )
       if ( month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10 or month == 12 ):
        print("There are 31 days in this month" )
       elif ( month == 4 or month == 6 or month == 9 or month == 11 ):
        print("There are 30 days in this month " )
       elif ( month == 2 ):
        print("There are 28 days in this month ")
       else:
        print("Invalid month " )
else:
       print( " Invalid Year " )

Enter the year: 2024
Enter the month: 2
Leap Year
There are 29 days in this month

**List**<br>
A list is a type of Python object that allows us to store a sequence of other objects. One of its major utilities is that it provides us with means for updating the contents of a list later on.

A list object is created using square-brackets, and its contents are separated by commas: [item1, item2, ..., itemN]. Its contents need not be of the same type of object.
<br>
Examples of List:<br>
[3.5, None, 3.5, True, "hello"]<br>
["hello"]<br>
x = "hello"<br>
[2 < 3, x.capitalize(), 5**2, [1, 2]]<br>
list("apple")<br>

In [ ]:
print([3.5, None, 3.5, True, "hello"])
print(["hello"])
x = "hello"
print([2 < 3, x.capitalize(), 5**2, [1, 2]])
print(list("apple"))

[3.5, None, 3.5, True, 'hello']
['hello']
[True, 'Hello', 25, [1, 2]]
['a', 'p', 'p', 'l', 'e']

In [ ]:
# Lists are sequences
# Like a string, the ordering of a list’s contents matters,
# meaning that a list is sequential in nature.
[1, "a", True] == [1, True, "a"]

False

In [ ]:
# a list supports the same mechanism for accessing its contents, via indexing and slicing, as does a string.
# Indexing and slicing will be covered in detail later

In [ ]:
# Accessing the contents of a list with indexing and slicing
x = [2, 4, 6, 8, 10]

# `x` contains five items
print(len(x))


# access the 0th item in the list via "indexing"
print(x[0])


# access a subsequence of the list via "slicing"
print(x[1:3])

5
2
[4, 6]

pppp00012

**Lists can be “mutated”**<br>
We will encounter other types of containers in Python, what makes the list stand out is that the contents of a list can be changed after the list has already been constructed. Thus a list is an example of a __*mutable*__ object.

In [ ]:
# changing a list after it has been constructed
x = [2, 4, 6, 8, 10]
y = [2, 4, 6, 8, 10]

# "set" the string 'apple' into position 1 of `x`
x[1] = "apple"
print(x)
#[2, 'apple', 6, 8, 10]

# replace a subsequence of `y`
y[1:4] = [-3, -4, -5]
print(y)
#[2, -3, -4, -5, 10]

[2, 'apple', 6, 8, 10]
[2, -3, -4, -5, 10]

The built-in list-functions __*append*__ and __*extend*__ allow us to add one item and multiple items to the end of a list, respectively:

In [ ]:
x = [2, 4, 6, 8, 10]

# use `append` to add a single object to the end of a list
x.append("moo")
print(x)
#[2, 4, 6, 8, 10, 'moo']

# use `extend` to add a sequence of items to the end of a list
x.extend([True, False, None])
print(x)
#[2, 4, 6, 8, 10, 'moo', True, False, None]

[2, 4, 6, 8, 10, 'moo']
[2, 4, 6, 8, 10, 'moo', True, False, None]

The __*pop*__ and __*remove*__ functions allow us to remove an item from a list based on its position in the list, or by specifying the item itself, respectively.

In [ ]:
x = ["a", "b", "c", "d"]

# pop the position-1 item out from a list
# `pop` will return the item that gets removed.
print(x.pop(1))

print(x)
#['a', 'c', 'd']

# remove the object "d" from the list
x.remove("d")
print(x)
#['a', 'c']

b
['a', 'c', 'd']
['a', 'c']

**Iteration Statements**
There are two types of Iteration Statements
1. While:<br>
A “while-loop” allows you to repeat a block of code until a condition is no longer true.<br>
The while loop continues to execute the code repeatedly, as long as the expression<br>
is True. In other words, a while loop iterates over a block of code. In Python, the<br>
body of a while loop is determined by the indentation. It starts with indentation and<br>
ends at the first unindented line.<br>
The most important part of a while loop is the looping variable. This looping variable<br>
controls the flow of iterations<br>
Syntax:<br>
while <condition>:<br>
&emsp;block of code<br>
    
Where condition is an expression that returns True or False, or is any object on which bool can be called. The “body” of the while-loop is the code indented beneath the while-loop statement.

The while-loop behaves as follows:

Call bool(\<condition\>) and execute the indented block of code if True is returned. Otherwise, “exit” the while-loop, skipping past the indented code.

If the indented block code is executed, go back to the first step.

In [ ]:
# demonstrating a basic while-loop
total = 0
while total < 2:
    total += 1  # equivalent to: `total = total + 1`

print(total)  # `total` has the value 2

In [ ]:
# This code will perform the following steps:
# 1.Define the variable total, and assign it the value 0
# 2.Evaluate 0 < 2, which returns True: enter the enclosed code-block
# 3.Execute the code block: assign total the value 0 + 1
# 4.Evaluate 1 < 2, which returns True: enter the enclosed code-block
# 5.Execute the code block: assign total the value 1 + 1
# 6.Evaluate 2 < 2, which returns False: skip the enclosed code-block
# 7.Print the value of total (2)

# Warning!

# It is possible to write a while-loop such that its conditional statement is always True,
# in which case your code will run ceaselessly! If this ever happens to you in a Jupyter notebook,
# either interrupt or restart your kernel.

In [ ]:
#Given an Integer n, Find the Sum of first n Natural numbers.
n = 4
sum = 0
i = 1             #Initialising the looping variable to 1
while (i<=n):     #The loop will continue till the value of i<number
    sum = sum + i
    i = i+1           #Value of i is updated at the end of every iteration
print(sum)

10

In [ ]:
# for-loop:
#A “for-loop” allows you to iterate over a collection of items,
#and execute a block of code once for each iteration.
# Syntax:(FOR LOOP)
# for <var> in <iterable>:
#     block of code
# Where <var> is any valid variable-identifier and <iterable> is any iterable.
# Every sequence-type object is an iterable.
# The for statement must end in a colon character,
# and the body the for-loop is whitespace-delimited.

# The for-loop behaves as follows:
# 1.Request the next member of the iterable.
# 2.If the iterable is empty, exit the for-loop without running its body.
# 3.If the iterable did produce a member, assign that member to <var>
# (if <var> was not previously defined, it becomes defined).
# 4.Execute the enclosed body of code.
# 5. Go back to the first step.

# demonstrating a basic for-loop
total = 0
for item in [1, 3, 5]:
    total = total + item

print(total)  # `total` has the value 1 + 3 + 5 = 9
# `item` is still defined here, and holds the value 5

9

In [ ]:
# This code will perform the following steps:
# 1.Define the variable total, and assign it the value 0
# 2.Iterate on the list, producing value 1, define the variable item and assign it the value 1
# 3.Assign total the value 0 + 1
# 4.Iterate on the list, producing the value 3 and assigning it to item
# 5.Assign total the value 1 + 3
# 6.Iterate on the list, producing the value 5 and assigning it to item
# 7.Assign total the value 4 + 5
# 8.Iterate on the list. Having reached its end, a StopIteration signal it raised by the list, and the for-loop sequence is exited.
# 9.Print the value of total (9)

# Potential Pitfall
# Note that the variable item will persist after the for-loop block is exited.
# It will reference the last value from the for-loop iteration (in this case item has the value 5).
# That being said, you should not write code that depends on the iterate-variable,
# outside of the context of the for-loop.

In [ ]:
for x in []:         # the iterable is empty - the iterate-variable `x` will not be defined
    print("Hello?")  # this code is never executed
print(x)             # raises an error because `x` was never defined

NameError: name 'x' is not defined

In [ ]:
#Using a for-loop and an if-statement, print each letter in the string "abcdefghij",
#if that letter is a vowel.

**break, continue, & else clauses on loops**  
The continue and break statements can be used within the bodies of both for-loops and while-loops. They provide added means for “short-circuiting” or prematurely exiting a given loop, respectively.

Encountering break within a given loop causes that loop to be exited immediately:It basically means that during the iteration if certain criteria is met then we can do premature exit from the loop.

In [ ]:
# breaking out of a loop early
for item in [1, 2, 3, 4, 5]:
    if item == 3:
        print(item, " ...break!")
        break
    print(item, " ...next iteration")

1  ...next iteration
2  ...next iteration
3  ...break!

The continue statement, when encountered within a loop, causes the loop-statement to be revisited immediately.
It means whenever we encounter the continue statement in the executing loop, the control flow of the program will go the first line of the loop skipping the contents below the continue statement.

In [ ]:
## demonstrating a `continue` statement in a loop
i = 0
while i<6:
    i=i+1
    if(i==3):
        continue
    print(i)

1
2
4
5
6

In [ ]:
# demonstrating a `continue` statement in a loop
x = 1
while x < 4:
    print("x = ", x, ">> enter loop-body <<")
    if x == 2:
         print("x = ", x, " continue...back to the top of the loop!")
         x += 1
         continue
    x += 1
    print("--reached end of loop-body--")

x =  1 >> enter loop-body <<
--reached end of loop-body--
x =  2 >> enter loop-body <<
x =  2  continue...back to the top of the loop!
x =  3 >> enter loop-body <<
--reached end of loop-body--

An else clause can be added to the end of any loop. The body of this else-statement will be executed only if the loop was not exited via a ``break`` statement.

In [ ]:
# including an else-clause at the end of the loop
for item in [2, 4,6]:
    if item == 3:
        print(item, " ...break!")
        break
    print(item, " ...next iteration")
else:
  print("if you are reading this, then the loop completed without a 'break'")

2  ...next iteration
4  ...next iteration
6  ...next iteration
if you are reading this, then the loop completed without a 'break'

The pass statement is a null statement.
● It is generally used as a placeholder for future code, you cannot
leave the space blank as it will give a compilation error.
● Sometimes, pass is used when the user does not want any code to
execute.

In [ ]:
#demonstrate the use of pass statement
for item in [2, 4, 6]:
    if item==2:
        pass #Pass statement: Nothing will happen
    else:
        print("Executed")

Executed
Executed

**Nested Loops**
Python programming language allows the usage of one loop inside
another loop. The loops can be nested the same way, the conditional
statements are.

**Range Function**  
A sequence in Python is a succession of values bound together by a single name. like list.    
A generator is a special kind of iterator, which stores the instructions for how to generate each of its members, in order, along with its current state of iterations. It generates each member, one at a time, only as it is requested via iteration.  
A generator does not store any items. Instead, it stores the instructions for generating each of its members, and stores its iteration state; this means that the generator will know if it has generated its second member, and will thus generate its third member the next time it is iterated on.

The whole point of this is that you can use a generator to produce a long sequence of items, without having to store them all in memory.
__range() Function/Generator__  
The range() function in Python generates a immutable sequence of numbers starting from the given start integer to the stop integer on the fly, like 0, 1, 2, 3, 4..
It returns the object of class range.

<br>
The syntax of the range() function is given below:  
range(Lower Limit, Upper Limit) # Both limits are integers.  
The function, range(L,U), will produce a list having values L, L+1, L+2....(U-1).  
Note: The lower limit is included in the list but the upper limit is not.  
<br>
For Example:  
list(range(0,5))  
[0,1,2,3,4] #Output of the range() function  
Note: The default step value is +1, i.e. the difference in the consecutive values of the sequence  
generated will be +1.  
<br>
If you want to create a list with a step value other than 1, you can use the following syntax:  
range(Lower Limit, Upper Limit, Step Value>  
The function, range(L, U, S), will produce a list [L, L+S, L+2S...<= (U-1)].  
For Example:  
list(range(0,5,2))  
[0,2,4] #Output of the range() function  
<br>
Reference :<br>
https://pynative.com/python-if-else-and-for-loop-exercise-with-solutions/

In [ ]:
# start: 2  (included)
#  stop: 7  (excluded)
#  step: 1  (default)
for i in range(2, 7):
    print(i)
# prints: 2.. 3.. 4.. 5.. 6

2
3
4
5
6

In [ ]:
# start:  1  (included)
#  stop: 10  (excluded)
#  step:  2
for i in range(1, 10, 2):
    print(i)
# prints: 1.. 3.. 5.. 7.. 9

1
3
5
7
9

In [ ]:
# A very common use case!
# start:  0  (default, included)
#  stop:  5  (excluded)
#  step:  1  (default)
for i in range(5):
    print(i)
# prints: 0.. 1.. 2.. 3.. 4

0
1
2
3
4

Because range is a generator, the command range(5) will simply store the instructions needed to produce the sequence of numbers 0-4, whereas the list [0, 1, 2, 3, 4] stores all of these items in memory at once. For short sequences, this seems to be a rather paltry savings; this is not the case for long sequences. The following graph compares the memory consumption used when defining a generator for the sequence of numbers  using range, compared to storing the sequence in a list:  
![Mem_Consumption_Generator.png](attachment:Mem_Consumption_Generator.png)  
Given our discussion of generators, it should make sense that the memory consumed simply by defining range(N) is independent of N , whereas the memory consumed by the list grows linearly with  (for large N).

In [ ]:
#range(lower,uppter) -- generates the numbers starting from lower to upper-1
print(list(range(0,5)))
print(list(range(5)))
print(list(range(0,5,1)))
print(list(range(0,5,2)))
print(list(range(5,0,-1)))
print(list(range(-5,0,1)))
print(list(reversed(range(-5,-1,1))))

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 2, 4]
[5, 4, 3, 2, 1]
[-5, -4, -3, -2, -1]
[-2, -3, -4, -5]

In [ ]:
#**Challenge**:Using range in a for-loop, print the numbers 10-1, in sequence.

**Creating your own generator: generator comprehensions**  
Python provides a sleek syntax for defining a simple generator in a single line of code; this expression is known as a generator comprehension.  
The syntax (\<expression> for \<var> in \<iterable> [if \<condition>]) specifies the general form for a generator comprehension. This produces a generator, whose instructions for generating its members are provided within the parenthetical statement.  
Written in a long form, the pseudo-code for  

(\<expression> for \<var> in \<iterable> if \<condition>)  
  
is:
  
for \<var> in \<iterable>:  
  &emsp;if bool(\<condition>):  
   &emsp;&emsp; yield \<expression>
   <br>
The following expression defines a generator for all the even numbers in 0-99:  
**when iterated over, `even_gen` will generate 0.. 2.. 4.. ... 98**  
even_gen = (i for i in range(100) if i%2 == 0)

In [ ]:
even_gen = (i for i in range(100) if i%2 == 0)
#print(even_gen)
print(max(even_gen))
# for i in even_gen:
#     if(i<10):
#         print(i)

<generator object <genexpr> at 0x0000000004CA6F90>
98

The if \<condition> clause in the generator expression is optional. The generator comprehension  

(\<expression> for \<var> in <\iterable>)  
corresponds to:  
  
for \<var> in \<iterable>:  
    &emsp;yield \<expression>  
For example:  
  
\# when iterated over, `example_gen` will generate 0/2.. 9/2.. 21/2.. 32/2  
example_gen = (i/2 for i in [0, 9, 21, 32])

In [ ]:
# when iterated over, `example_gen` will generate 0/2.. 9/2.. 21/2.. 32/2
example_gen = (i/2 for i in [0, 9, 21, 32])

for item in example_gen:
    print(item)
# prints: 0.0.. 4.5.. 10.5.. 16.0

0.0
4.5
10.5
16.0

In [ ]:
gen2 = ((i, i**2, i**3) for i in range(10))
print(gen2)
for i in gen2:
    print(i)
# will generate:
# (0, 0, 0)
# (1, 1, 1)
# (2, 4, 8)
# (3, 9, 27)
# (4, 16, 64)
# (5, 25, 125)
# (6, 36, 216)
# (7, 49, 343)
# (8, 64, 512)
# (9, 81, 729)
# This output simply indicates that gen2 stores a generator-expression
# at the memory address 0x0000000004FC8580; this is simply where the
# instructions for generating our sequence of squared numbers is stored.
# gen2 will not produce any results until we iterate over it.

<generator object <genexpr> at 0x0000000004CA6660>
(0, 0, 0)
(1, 1, 1)
(2, 4, 8)
(3, 9, 27)
(4, 16, 64)
(5, 25, 125)
(6, 36, 216)
(7, 49, 343)
(8, 64, 512)
(9, 81, 729)

In [ ]:
#This means that <expression> can even involve inline if-else statements!
gen1 =(("apple" if i < 3 else "pie") for i in range(6))

for i in gen1:
    print(i)
# will generate:
# 'apple'..
# 'apple'..
# 'apple'..
# 'pie'..
# 'pie'..
# 'pie'

apple
apple
apple
pie
pie
pie

In [ ]:
gen = (i**2 for i in range(0,5))
print(sum(gen))  # computes the sum 0 + 1 + 4 + 9 + 25 + ... + 9801, sum is a built-in function.
print(sum(gen))
#Why First sum statement gave answer and other did not.
# This is because a generator is exhausted after it is iterated over in full.
#You must redefine the generator if you want to iterate over it again;

30
0

**Chaining comprehensions**  
Because generators are iterables, they can be fed into subsequent generator comprehensions. That is, they can be “chained” together.

In [ ]:
# total = 0
# for i in [-20, -10, 0, 10, 20]:
#     j = i ** 2
#     if j <= 150:
#         total += j



# chaining two generator comprehensions

# generates 400.. 100.. 0.. 100.. 400
gen_1 = (i**2 for i in [-20, -10, 0, 10, 20])

# iterates through gen_1, excluding any numbers whose absolute value is greater than 150
gen_2 = (j for j in gen_1 if abs(j) <= 150)

# computing 100 + 0 + 100
sum(gen_2)
#200

200

In [ ]:
sum(1/n for n in range(1, 3))

1.5

In [ ]:
#Given a list , reverse the list using range()
list1 = [10, 20, 30, 40, 50]
# start = list's size
# stop = -1
# step = -1

# reverse a list
for i in range(len(list1) - 1, -1, -1):
    print(list1[i], end=" ")

50 abc 30 20 10

In [ ]:
x = len(list1) -1
print(x)

for i in range(x,-1,-1):
    print(list1[i])

4
50
abc
30
20
10

**Challenge**:Loop over a list of integers repeatedly, summing up all of its even values, and adding the content to a total. Repeat this process until the the total exceeds 100, or if you have looped over the list more than 50 times. Print the total only if it exceeds 100.

**Challenge:**Given a list of nonzero, positive numbers, x, append the sum of that list to the end of it. Do this until the last value in x is at least 100. Use a while-loop.

If you start with x = [1], then by the end of your while-loop x should be [1, 1, 2, 4, 8, 16, 32, 64, 128].

**Challenge:**
Loop over a list of integers repeatedly, summing up all of its even values, and adding the content to a total. Repeat this process until the the total exceeds 100, or if you have looped over the list more than 50 times. Print the total only if it exceeds 100.

**Challenge:**
Print the following number pattern using Python range() and a loop.

1 <br>
2 2 <br>
3 3 3 <br>

1 <br>
1 2 <br>
1 2 3 <br>
1 2 3 4 <br>
1 2 3 4 5<br>

5 4 3 2 1 <br>
4 3 2 1 <br>
3 2 1 <br>
2 1 <br>
1<br>

\* <br>
\* * <br>
\* * * <br>
\* * * * <br>
\* * * * * <br>
\* * * * <br>
\* * * <br>
\* * <br>
\*<br>

**Challenge:**   
Calculate the cube of all numbers from 1 to a given number

**Challenge:**   
Display Fibonacci series up to 10 terms  
The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers   before it. The first two numbers are 0 and 1.  

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

**Functions**<br>
https://cs.stanford.edu/people/nick/py/python-function.html<br>
https://pythonlikeyoumeanit.com<br>
https://pynative.com/python/<br>


**Assignment**:
Write short notes on :  
a) Zip  
b) Enumerate  
c) itertools
d) First class objects

**Functions**:  
In Python, the function is a block of code or lines of statement defined with a name. We use functions whenever we need to perform the same task multiple times without writing the same code again. It can take arguments and returns the value.  

The same set of statements, grouped together with a name forms a function, which can be called wherever and whenever necessary which provides modularity, reusability and ease at debugging in any programming language.  

There are two types of functions:  
1) Built-in functions  
2) User defined functions

Built-in functions are the functions which are available in standard python installation. like   
range()  
type()  
id()  
len()  
max(), min(), pow(), abs(), round() etc.

User-defined functions:
These functions are defined by user and contain the lines of statement to perform a particular task.    
Defining a function allows you to encapsulate a segment of code, specifying the information that enters and leaves the code. You can make use of this “code-capsule” repeatedly and in many different contexts.


**Creating a Function**  
Use the following steps to to define a function in Python.

Use the def keyword with the function name to define a function.  
Next, pass the number of parameters as per your requirement. (Optional).  
Next, define the function body with a block of code. This block of code is nothing but the action you wanted to perform.  
In Python, no need to specify curly braces for the function body. The only indentation is essential to separate code blocks.  

**Syntax of creating a function**  

def function_name(parameter1, parameter2):  
    &emsp;   # function body      
    &emsp;   # write some action  
return value  

Here,

a) function_name: Function name is the name of the function. We can give any name to function.   
b) parameter: Parameter is the value passed to the function. We can pass any number of parameters. Function body uses the parameter’s value to perform an action  
c) function_body: The function body is a block of code that performs some task. This block of code is nothing but the action you wanted to accomplish.  
d) return value: Return value is the output of the function.  

![python-functions.jpg](attachment:python-functions.jpg)

In [ ]:
#Example:Function without any parameter
#the def statement is reserved by the Python language to signify the definition of functions.
# message is the function name, we can use other names depending on the requirement and readability.
# the input arguments to the function, and may be left blank if the function does not accept any arguments
#(the parentheses must still be included, but will not encapsulate anything).
def message():
    '''This is documentation string'''
    print("Welcome to PYTHON FUNCTIONS")

In [ ]:
help(message)
message.__doc__

Help on function message in module __main__:

message()
    This is documentation string

'This is documentation string'

In [ ]:
# call function using its name
message()

Welcome to PYTHON FUNCTIONS

The return statement is also reserved by Python. It denotes the end of a function; if reached, a return statement immediately concludes the execution of the function and returns the specified object.  
Furthermore, an empty return statement can be specified, or the return statement of a function can be omitted altogether. In both of these cases, the function will return the None object.

In [ ]:
# this function returns `None`
# an "empty" return statement
def f():
    x = 1
    return

In [ ]:
print(f())

None

In [ ]:
# this function returns `None`
# return statement is omitted
def f():
    x = 1

In [ ]:
print(f())

None

In [ ]:
# All Python functions return something.
# Even the built-in print function returns None after it prints to standard-output!
x = print("hi")

hi

In [ ]:
x is None

True

In [ ]:
# As stated above, a return statement will trigger a function to end its execution immediately
# when reached, even when subsequent code follows it. It is impossible for multiple ``return``
# statements to be visited within a single function call. Thus if you want to return multiple
# items, then your function must return a single container of those items, like a list or a tuple.

# Returning multiple items from a function
def bad_f(x):
    """ return x**2 and x**3"""
    return x**2
    # this code can never be reached!
    return x**3

def good_f(x):
    """ return x**2 and x**3"""
    return (x**2, x**3)

In [ ]:
good_f(3))

tuple

In [ ]:
#Example function with more than one parameter
def course_func(name, course_name):
    print("Hello", name, "Welcome to Programming Langauges")
    print("Your course name is", course_name)

# call function
course_func('John', 'Python Programming BCE-C307')

Hello John Welcome to Programming Langauges
Your course name is Python Programming BCE-C307

In [ ]:
# function
def calculator(a, b):
    add = a + b
    # return the addition
    return add

# call function
# take return value in variable
res = calculator(20, 5)

print("Addition :", res)
# Output Addition : 25

Addition : 25

In [ ]:
# function to check for even or odd
def even_odd(n):
    # check number is even or odd
    if n % 2 == 0:
        print('Even number')
    else:
        print('Odd Number')

# calling function by its name
even_odd(19)
# Output Odd Number

In [ ]:
#Example of doc Strings
def any_fun(parameter1):
    '''
   Description of function

   Arguments:
   parameter1(int):Description of parameter1

   Returns:
   int value
    '''
print(any_fun.__doc__)

   Description of function

   Arguments:
   parameter1(int):Description of parameter1

   Returns:
   int value

In [ ]:
# function to check for even numbers in a list
def is_even(list1):
    even_num = []
    for n in list1:
        if n % 2 == 0:
            even_num.append(n)
    # return a list
    return even_num

# Pass list to the function
even_num = is_even([2, 3, 42, 51, 62, 70, 5, 9])
print("Even numbers are:", even_num)

In [ ]:
#Function returning multiple items
def arithmetic(num1, num2):
    add = num1 + num2
    sub = num1 - num2
    multiply = num1 * num2
    division = num1 / num2
    # return four values
    return add, sub, multiply, division

# read four return values in four variables
a, b, c, d = arithmetic(10, 2)

print("Addition: ", a)
print("Subtraction: ", b)
print("Multiplication: ", c)
print("Division: ", d)

Addition:  12
Subtraction:  8
Multiplication:  20
Division:  5.0

In [ ]:
global_lang = 'DataScience'

def var_scope_test():
    local_lang = 'Python'
    print(local_lang)

var_scope_test()
# Output 'Python'

# outside of function
print(global_lang)
# Output 'DataScience'

# NameError: name 'local_lang' is not defined
print(local_lang)

Python
DataScience

NameError: name 'local_lang' is not defined

In [ ]:
def function1():
    # local variable
    loc_var = 888
    print("Value is :", loc_var)

def function2():

    print("Value is :", loc_var)

function1()
function2()

Value is : 888

NameError: name 'loc_var' is not defined

In [ ]:
global_var = 999

def function1():
    print("Value in 1nd function :", global_var)

def function2():
    print("Value in 2nd function :", global_var)

function1()
function2()

In [ ]:
# Global variable
global_var = 5

def function1():
    print("Value in 1st function :", global_var)

def function2():
    # Modify global variable
    # function will treat it as a local variable
    global_var = 555
    print("Value in 2nd function :", global_var)

def function3():
    print("Value in 3rd function :", global_var)

function1()
function2()
function3()

Value in 1st function : 5
Value in 2nd function : 555
Value in 3rd function : 5

In [ ]:
# Global variable
x = 5

# defining 1st function
def function1():
    print("Value in 1st function :", x)

# defining 2nd function
def function2():
    # Modify global variable using global keyword
    global x
    x = 555
    print("Value in 2nd function :", x)

# defining 3rd function
def function3():
    print("Value in 3rd function :", x)

function1()
function2()
function3()

Value in 1st function : 5
Value in 2nd function : 555
Value in 3rd function : 555

In [ ]:
# In Python, nonlocal is the keyword used to declare a variable that acts as a global
# variable for a nested function (i.e., function within another function).
# We can use a nonlocal keyword when we want to declare a variable in the
# local scope but act as a global scope.
def outer_func():
    x = 777

    def inner_func():
        # local variable now acts as global variable
        nonlocal x
        x = 700
        print("value of x inside inner function is :", x)

    inner_func()
    print("value of x inside outer function is :", x)

outer_func()

value of x inside inner function is : 700
value of x inside outer function is : 700

**Default-Valued Arguments**  
You can specify default values for input arguments to a function. Their default values are utilized if a user does not specify these inputs when calling the function. Recall our count_vowels function. Suppose we want the ability to include “y” as a vowel. We know, however, that people will typically want to exclude “y” from their vowels, so we can exclude “y” by default:

In [ ]:
def count_vowels(in_string):
    """ Returns the number of vowels contained in `in_string`"""
    num_vowels = 0
    vowels = "aeiouAEIOU"

    for char in in_string:
        if char in vowels:
            num_vowels += 1  # equivalent to num_vowels = num_vowels + 1
    return num_vowels

In [ ]:
count_vowels('hello this is python')

5

In [ ]:
def count_vowels(in_string, include_y=False):
    """ Returns the number of vowels contained in `in_string`"""
    vowels = "aeiouAEIOU"
    if include_y:
        vowels += "yY"  # add "y" to vowels
    return sum(1 for char in in_string if char in vowels)

In [ ]:
count_vowels('this is a tasty')

4

In [ ]:
count_vowels('this is a tasty',True)

5

In [ ]:
#Keyword Arguments
#A keyword argument is an argument value, passed to function preceded by the variable name and
# an equals sign.
count_vowels(include_y=True, in_string="Happy")

2

In [ ]:
def message(name, surname):
    print("Hello", name, surname)

message(name="John", surname="Wilson")
message(surname="Wellington", name="Kelly")

Hello John Wilson
Hello Kelly Wellington

In [ ]:
# Positional Arguments / Required Arguments
# Positional arguments are arguments that are pass to function in proper positional order.
# That is, the 1st positional argument needs to be 1st when the function is called.
# The 2nd positional argument needs to be 2nd when the function is called, etc.
def add(a, b):
    print(a - b)

add(50, 10)
# Output 40
add(10, 50)
# Output -40

40
-40

In [ ]:
# In keyword arguments order of argument is not matter, but the number of arguments must match.
# Otherwise, we will get an error.

# While using keyword and positional argument simultaneously, we need to pass 1st arguments
# as positional arguments and then keyword arguments. Otherwise, we will get SyntaxError.

def message(first_nm, last_nm):
    print("Hello..!", first_nm, last_nm)

# correct use
message("John", "Wilson")
message("John", last_nm="Wilson")

# Error
# SyntaxError: positional argument follows keyword argument
message(first_nm="John", "Wilson")

SyntaxError: positional argument follows keyword argument (<ipython-input-5-770933d2252c>, line 16)

In [ ]:
def message(name, surname=" "):
    print("Hi", name ,surname)

message("Ram", surname="Sunder")

Hi Ram Sunder

In [ ]:
# Default-valued input arguments must come after all positional input arguments
# in the function signature: except in a situation where default argument is following varags.

# this is ok
def f(x, y, z, co=1, up=2):
    return None

In [ ]:
# this will raise a syntax error
def f(x, y, co=1, up=2, z):
    return None

SyntaxError: non-default argument follows default argument (<ipython-input-7-5b48dbc7b172>, line 2)

06/7

In [ ]:
# Variable-length Arguments
# In Python, sometimes, there is a situation where we need to pass multiple
# numbers of arguments to the function. Such types of arguments are called variable-length arguments.
# We can declare a variable-length argument with the * (asterisk) symbol.
# The special syntax *args in function definitions in python is used to pass a
# variable number of arguments to a function. It is used to pass a non-key
# worded, variable-length argument list. (including zero or more)
# Because Python cannot foresee how many arguments will be passed to function,
# all of the objects that are passed to it will be packed into a tuple,
# which is then assigned to the variable.

In [ ]:
# The * symbol indicates that an arbitrary number of
# arguments can be passed to `args`, when calling `f`.
def f(*args):
    #  All arguments passed to `f` will be "packed" into a
    #  tuple that is assigned to the variable `args`.
    # `f()`  will assign `args = tuple()`
    # `f(x, y, ...)` will assign `args = (x, y, ...)`
    return args

In [ ]:
print(f())


# pass one argument to `f`
print(f(1))


# pass three arguments to `f`
print(f((0, 1), True, "cow"))

()
(1,)
((0, 1), True, 'cow')

In [ ]:
# This syntax can be combined with positional arguments,keyword argument and default arguments.
# Any variables specified after a packed variable must be called by name:

In [ ]:
def f(x, *seq, y=10, z):
    print("x is: ", x)
    print("seq is: ", seq)
    print("y is: ", y)
    print("z is: ", z)
    return None

In [ ]:
f(1,2,3,4,y=9,z=11)

x is:  1
seq is:  (2, 3, 4)
y is:  9
z is:  11

In [ ]:
f("cat", y="dog",z='mouse')

x is:  cat
seq is:  ()
y is:  dog
z is:  mouse

In [ ]:
# We see that * indicates the packing of an arbitrary number of arguments
# into a tuple, when used in the signature of a function definition.
# Simultaneously, * signals the unpacking of an iterable to pass each of
# its members as a positional argument to a function,
# when used in the context of calling a function:

# Using `*` when calling a function, to unpack an
# iterable. Passing its members as distinct arguments
# to the function

def f(x, y, z):
    return x + y + z

In [ ]:
f(1, 2, 3)

6

In [ ]:
# `*` means: unpack the contents of [1, 2, 3]
# passing each item as x, y, and z,
# respectively
f(*[1, 2, 3])  # equivalent to: f(1, 2, 3)
#6

6

In [ ]:
def number_of_args(*args):
    return len(args)

In [ ]:
number_of_args(None, None,1,2,3,4,5)

7

In [ ]:
some_list = [1, 2, 3, 4, 5]

# passing the list itself as the sole argument
number_of_args(some_list)

1

In [ ]:
number_of_args(*some_list)

5

In [ ]:
# an Arbitrary Number of Keyword Arguments
# We can also define a function that is able to accept an arbitrary number of
# keyword arguments, using the syntax: def f(**<var_name>)

# Note that a single asterisk, *, was used to denote an arbitrary number of
# positional arguments, whereas ** signals the acceptance of an arbitrary
# number of keyword arguments.

# The ** symbol indicates that an arbitrary number of
# keyword arguments can be passed to `args`, when calling `f`.
def f(**args):
    #  All keyword arguments passed to `f` will be "packed" into a
    #  dictionary that is assigned to the variable `args`.
    # `f()`  will assign `args = {}` (an empty dictionary)
    # `f(x=1, y=2, ...)` will assign `args = {"x":1, "y":2, ...}`
    return args

In [ ]:
# Because Python cannot foresee how many arguments will be passed to f,
# all of the keyword arguments that are passed to it will be packed into
# a dictionary, where a given keyword is set as a key (cast as a string)
# that maps to the corresponding value. This dictionary is then assigned
# to the variable args.

In [ ]:
f()            # pass zero arguments to `f`

{}

In [ ]:
f(x=1)           # pass one argument to `f`

{'x': 1}

In [ ]:
f(x=(0, 1), val=True, moo="cow")  # pass three arguments to `f`

{'x': (0, 1), 'val': True, 'moo': 'cow'}

In [ ]:
def myFun(**kwargs):
    for key, value in kwargs.items():
        print ("%s == %s" %(key, value))
# Driver code
myFun(first ='CSE', mid ='CET', last='CETPAS')

first == CSE
mid == CET
last == CETPAS

In [ ]:
# This syntax can be combined with positional arguments and default arguments.
# No additional arguments may come after a ** entry in a function-definition signature:

def f(x, y=2,**kwargs):
    print("x is: ", x)
    print("y is: ", y)
    print("kwargs is: ", kwargs)
    return None

In [ ]:
# passing arbitrary keyword arguments to `f`
f(1, y=9, z=3, k="hi")

x is:  1
y is:  9
kwargs is:  {'z': 3, 'k': 'hi'}

In [ ]:
f("cat", "dog")

x is:  cat
y is:  dog
kwargs is:  {}

In [ ]:
# The following function accepts an arbitrary number of
# positional arguments and an arbitrary number of keyword arguments:

# accepting arbitrary positional and keyword arguments
def f(*x, **y):
    # all positional arguments get packed into the tuple `x`
    # all keyword arguments get packed into the dictionary `y`
    print(x)
    print(y)
    return None

In [ ]:
 f(1, 2, 3, hi=-1, bye=-2, sigh=-3)

(1, 2, 3)
{'hi': -1, 'bye': -2, 'sigh': -3}

In [ ]:
def myFun(*args,**kwargs):
    for key, value in kwargs.items():
        print ("%s == %s" %(key, value))

# Driver code
myFun('Namit', first = 'CSE', mid ='FET', last='GKV')

first == CSE
mid == FET
last == GKV

In [ ]:
def myFun(*args,**kwargs):
    print("args: ", args)
    print("kwargs: ", kwargs)

In [ ]:
args = ("Nami", "Khan")
myFun(*args)

args:  ('Nami', 'Khan')
kwargs:  {}

In [ ]:
kwargs = {"arg1" : "CS", "arg2" : "cetpa", "arg3" : "GKV"}
myFun(**kwargs)

args:  ()
kwargs:  {'arg1': 'CS&E', 'arg2': 'FET', 'arg3': 'GKV'}

In [ ]:
# We see that ** indicates the packing of an arbitrary number of
# keyword arguments into a dictionary, when used in the signature of
# a function definition. Simultaneously, ** signals the unpacking of
# a dictionary to pass each of its key-value pairs as a keyword
# argument to a function, when used in the context of calling a function:

# Using `**` when calling a function, to unpack a
# dictionary, passing its members as keyword arguments
# to the function
def f(x, y, z):
    return 0*x + 1*y + 2*z

In [ ]:
f(z=10, x=9, y=1)

21

In [ ]:
args = {"x": 9, "y": 1, "z": 10}
f(**args)  # equivalent to: f(x=9, y=1, z=10)

21




This function takes any number of positional arguments (*args) and any number of keyword arguments (**kwargs).

By using both *args and **kwargs, this function can accept a variety of arguments, including positional arguments (like a list of values) and keyword arguments (like a dictionary of key-value pairs).

In [ ]:
def my_function(*args, **kwargs):
    print("Positional arguments:")
    for arg in args:
        print(arg)
    print("Keyword arguments:")
    for key, value in kwargs.items():
        print(f"{key} = {value}")

In [ ]:
my_function("Hello", "World", 1, 2, 3, name="John", age=30, city="New York")

Positional arguments:
Hello
World
1
2
3
Keyword arguments:
name = John
age = 30
city = New York

In [ ]:
def my_function( **kwargs, *args):
    print("Positional arguments:")
    for arg in args:
        print(arg)
    print("Keyword arguments:")
    for key, value in kwargs.items():
        print(f"{key} = {value}")

SyntaxError: invalid syntax (<ipython-input-9-85c4b1e429bf>, line 1)

In [ ]:
def my_function(a, b, c):
    pass

# Valid call:
my_function(1, 2, c=3)  # Positional arguments first, then keyword argument

# Invalid call:
my_function(a=1, 2, 3)  # Keyword argument before positional argument

#In the invalid call, Python won't know which parameter the 2 belongs to, since it comes after a keyword argument.

In [ ]:
my_function(name="John", age=30, city="New York", "Hello", "World", 1, 2, 3 )

SyntaxError: positional argument follows keyword argument (<ipython-input-6-6c2ca4c68ba1>, line 1)

In [ ]:
my_function(name="John", age=30, city="New York", "Hello", "World", 1, 2, 3 )

In [ ]:
# **Functions are Objects**
# Once defined, a function behaves like any other Python object, like a list
# or string or integer. You can assign a variable to a function-object:

var = count_vowels  # `var` now references the function `count_vowels`
print(var("Hell"))        # you can now "call" `var`

# You can store functions in a list:

my_list = [count_vowels, print]

for func in my_list:
    func("hello")

#  iteration 0: calls `count_vowels("hello")`
#  iteration 1: calls `print("hello")`
# You can also call functions anywhere, and their return-value will be returned in-place:

#  if count_vowels("pillow") > 1:
#      print("that's a lot of vowels!")
# And, of course, this works within comprehension expressions as well:

# sum(count_vowels(word, include_y=True) for word in ["hi", "bye", "guy", "sigh"])
# 6

1
hello

In [ ]:
my_list = [count_vowels,print]

for func in my_list:
    if func is count_vowels:
        print(func("hello"))
    else:
        func("hello")

2
hello

In [ ]:
sum(count_vowels(word, include_y=True) for word in ["hi", "bye", "guy", "sigh"])

6

In [ ]:
# Practice Question1
# Write a function named count_vowel.
# It should accept one input argument, named in_string,
# Have the function return the sum of number of vowels contained in the in_string.
# Include a reasonable docstring.

In [ ]:
def count_vowels(in_string):
    """ Returns the number of vowels contained in `in_string`"""
    return sum(1 for char in in_string if char in "aeiouAEIOU")

In [ ]:
# Practice Question2
# Write a function named count_even.
# It should accept one input argument, named numbers,
# which will be an iterable containing integers.
# Have the function return the number of even-valued integers contained in the list.
# Include a reasonable docstring.

In [ ]:
def count_even(numbers):
    """ Counts the number of even integers in an iterable"""
    total = 0
    for num in numbers:
        if num % 2 == 0:
            total += 1
    return total

**Tuples**  
1) Ordered: Tuples are part of sequence data types, which means they hold the   order of the data insertion. It maintains the index value for each item.  
2) Unchangeable: Tuples are unchangeable, which means that we cannot add or delete  items to the tuple after creation.  
3) Heterogeneous: Tuples are a sequence of data of different data types (like integer, float, list, string, etc;) and can be accessed through indexing and slicing.  
4) Contains Duplicates: Tuples can contain duplicates, which means they can have items with the same value.  
![python-tuple.jpg](attachment:python-tuple.jpg)

**Creating a Tuple**  
We can create a tuple using the two ways  

Using parenthesis (): A tuple is created by enclosing comma-separated items inside rounded brackets.  
Using a tuple() constructor: Create a tuple by passing the comma-separated items inside the tuple().

In [ ]:
# create a tuple using ()
# number tuple
number_tuple = (10, 20, 25.75)
print(number_tuple)
# Output (10, 20, 25.75)

# string tuple
string_tuple = ('Jessa', 'Emma', 'Kelly')
print(string_tuple)
# Output ('Jessa', 'Emma', 'Kelly')

# mixed type tuple
sample_tuple = ('Jessa', 30, 45.75, [25, 78])
print(sample_tuple)
# Output ('Jessa', 30, 45.75, [25, 78])

# create a tuple using tuple() constructor
sample_tuple2 = tuple(('Jessa', 30, 45.75, [23, 78]))
print(sample_tuple2)
# Output ('Jessa', 30, 45.75, [23, 78])

(10, 20, 25.75)
('Jessa', 'Emma', 'Kelly')
('Jessa', 30, 45.75, [25, 78])
('Jessa', 30, 45.75, [23, 78])

In [ ]:
# A single item tuple is created by enclosing one item inside parentheses
# followed by a comma. If the tuple time is a string enclosed within
# parentheses and not followed by a comma, Python treats it as a str type.
# Let us see this with an example.

# without comma
single_tuple = ('Hello')
print(type(single_tuple))
# Output class 'str'
print(single_tuple)
# Output Hello

# with comma
single_tuple1 = ('Hello',)
# output class 'tuple'
print(type(single_tuple1))
# Output ('Hello',)
print(single_tuple1)

<class 'str'>
Hello
<class 'tuple'>
('Hello',)

In [ ]:
# Packing and Unpacking
# A tuple can also be created without using a tuple() constructor or
# enclosing the items inside the parentheses.
# It is called the variable “Packing.”

# In Python, we can create a tuple by packing a group of variables.
# Packing can be used when we want to collect multiple
# values in a single variable. Generally,
# this operation is referred to as tuple packing.

# Similarly, we can unpack the items by just assigning
# the tuple items to the same number of variables.
# This process is called “Unpacking.”

# Let us see this with an example.
# packing variables into tuple

tuple1 = 1, 2, "Hello"
# display tuple
print(tuple1)
# Output (1, 2, 'Hello')

print(type(tuple1))
# Output class 'tuple'

# unpacking tuple into variable
i, j, k = tuple1
# printing the variables
print(i, j, k)
# Output 1 2 Hello

(1, 2, 'Hello')
<class 'tuple'>
1 2 Hello

In [ ]:
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')
# length of a tuple
print(len(tuple1))

6

In [ ]:
# create a tuple
sample_tuple = tuple((1, 2, 3, "Hello", [4, 8, 16]))
# iterate a tuple
for item in sample_tuple:
    print(item)

1
2
3
Hello
[4, 8, 16]

**Accessing items of a Tuple**
Tuple can be accessed through indexing and slicing. This section will guide you by accessing tuple using the following two ways  

Using indexing, we can access any item from a tuple using its index number  
Using slicing, we can access a range of items from a tuple  
  
Indexing  
A tuple is an ordered sequence of items, which means they hold the order of the data insertion. It maintains the index value for each item.  
  
We can access an item of a tuple by using its index number inside the index operator [] and this process is called “Indexing”.  
  
Note:  
  
As tuples are ordered sequences of items, the index values start from 0 to the tuple’s length.  
Whenever we try to access an item with an index more than the tuple’s length, it will throw the 'Index Error'.  
Similarly, the index values are always integer. If we give any other type, then it will throw Type Error.  

![positive-and-negative-indexing.jpg](attachment:positive-and-negative-indexing.jpg)

In [ ]:
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')
for i in range(len(tuple1)):
    print(tuple1[i])

P
Y
T
H
O
N

In [ ]:
# print(tuple1[6]) # Error-index out of range
print(tuple1[2.0]) # Error - index must be integer

TypeError: tuple indices must be integers or slices, not float

In [ ]:
# Negative Indexing
# The index values can also be negative, with the last
# but the first items having the index value as -1 and
# second last -2 and so on.
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')
# Negative indexing
# print last item of a tuple
print(tuple1[-1])  # N
# print second last
print(tuple1[-2])  # O

# iterate a tuple using negative indexing
for i in range(-6,1):
    print(tuple1[i], end=", ")
# Output P, Y, T, H, O, N,

N
O
P, Y, T, H, O, N, P,

In [ ]:
# Slicing a tuple
# We can specify the start and end values for the range
# of items to be accessed from the tuple. The output will
# be a tuple, and it includes the range of items with the
# index values from the start till the end of the range.
# The end value item will be excluded.
tuple1 = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# slice a tuple with start and end index number
print(tuple1[1:5])
# Output (1, 2, 3, 4)

(1, 2, 3, 4)

In [ ]:
tuple1 = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# slice a tuple without start index
print(tuple1[:5])
# Output (0, 1, 2, 3, 4)

# slice a tuple without end index
print(tuple1[6:])
# Output (6, 7, 8, 9, 10)

# slice a tuple without start and end index
print(tuple1[:])
# Output (0,1,2,3,4,5, 6, 7, 8, 9, 10)

# slice a tuple without start and end index, and default jump =1
print(tuple1[::])
# Output (0,1,2,3,4,5, 6, 7, 8, 9, 10)

# slice a tuple without start and end index, and jump =1
print(tuple1[::1])
# Output (0,1,2,3,4,5, 6, 7, 8, 9, 10)

# Reverse printing the tuple using negative jump
print(tuple1[::-1])
# Output (10,9,8,7,6,5,4,3,2,1,0)

(0, 1, 2, 3, 4)
(6, 7, 8, 9, 10)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

In [ ]:
# The index() method accepts the following three arguments

# item – The item which needs to be searched
# start – (Optional) The starting value of the index from which the search will start
# end – (Optional) The end value of the index search
# Example

tuple1 = (10, 20, 30, 40, 50)

# get index of item 30
position = tuple1.index(30)
print(position)
# Output 2

2

In [ ]:
tuple1 = (10, 20, 30, 40, 50, 60, 70, 80)
# Limit the search locations using start and end
# search only from location 4 to 6
# start = 4 and end = 6
# get index of item 60
position = tuple1.index(60, 4, 6)
print(position)
# Output 5

5

In [ ]:
tuple1 = (10, 20, 30, 40, 50, 60, 70, 80)
# checking whether item 50 exists in tuple
print(50 in tuple1)
# Output True
print(500 in tuple1)
# Output False

True
False

In [ ]:
tuple1 = (0, 1, 2, 3, 4, 5)
tuple1[1] = 10
# Output TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [ ]:
tuple1 = (0, 1, 2, 3, 4, 5)

# converting tuple into a list
sample_list = list(tuple1)
# add item to list
sample_list.append(6)

# converting list back into a tuple
tuple1 = tuple(sample_list)
print(tuple1)
# Output (0, 1, 2, 3, 4, 5, 6)

(0, 1, 2, 3, 4, 5, 6)

In [ ]:
tuple1 = (10, 20, [25, 75, 85])
# before update
print(tuple1)
# Output (10, 20, [25, 75, 85])

# modify last item's first value
tuple1[2][0] = 250
# after update
print(tuple1)
# Output (10, 20, [250, 75, 85])

(10, 20, [25, 75, 85])
(10, 20, [250, 75, 85])

In [ ]:
# To determine how many times a specific item occurred in a tuple,
# we can use the count() method of a tuple object.

# The count() method accepts any value as a parameter and
# returns the number of times a particular value appears in a tuple.

# Example

tuple1 = (10, 20, 60, 30, 60, 40, 60)
# Count all occurrences of item 60
count = tuple1.count(60)
print(count)
# Output 3

count = tuple1.count(600)
print(count)
# Output 0

3
0

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)

# concatenate tuples using + operator
tuple3 = tuple1 + tuple2
print(tuple3)
# Output (1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)
a = sum(tuple1)
print(a)
# using sum function
tuple3 = sum((tuple1, tuple2),())
print(tuple3)
# Output (1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

15
(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

In [ ]:
a = 1,2
b = 3,4
d= a, b # Tuple of Tuples
print(d)

T = ('Satish',4) # WHAT WILL HAPPEN IF YOU REMOVE EXTRA COMMA
print(T)

T = 1,2,3
NEW_T = T * 2
print(NEW_T)

((1, 2), (3, 4))
('Satish', 4)
(1, 2, 3, 1, 2, 3)

In [ ]:
nested_tuple = ((20, 40, 60), (10, 30, 50), "Python")

# access the first item of the third tuple
print(nested_tuple[2][0])  # P

# iterate a nested tuple
for i in nested_tuple:
    print("tuple", i, "elements")
    for j in i:
        print(j, end=", ")
    print("\n")

P
tuple (20, 40, 60) elements
20, 40, 60,

tuple (10, 30, 50) elements
10, 30, 50,

tuple Python elements
P, y, t, h, o, n,

In [ ]:
tuple1 = (1, 2, 3, 4, 5, 0 ,9,6,8,7)
print(sorted(tuple1,reverse=True))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
list1 = [4,5,3,6,7,1,8,9,2]
list1.sort() # sorts in place
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1 = [4,5,3,6,7,1,8,9,2]
print(sorted(list1)) # original list is not modified
#print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
tuple2= ( 1,2,3,4)
print(max(tuple2))
print(min(tuple2))
print(sum(tuple2))

4
1
10

In [ ]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

**LIST**

In [ ]:
L = ['a','b','c','d' ]
print(L[0])
#print(L[::-1])
# print(L[0])
#L.append(4)
#L.extend(L2)
#L.insert(3,4)
#L.insert(3)
#sum(L)
#L.count(c)
#len(L)
#L.index(a) #Return indec of first occurrence an element in list if element is not present it return -1
#min(L)
#max(L)
#L.pop([0])
#del L(0)
# L.remove(a)

a

Loop itrating (looping on lists)

Multiple way to iterate over list in python

In [ ]:
L = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in L:
  print(i)

In [ ]:
L = [1, 2, 3, 4, 5, 6, 7, 8, 9]
length = len(L)
for i in range(length):
  #print(L[i])
  print(i)


# you can even use while() loops. try using while loops on your own

In [ ]:
#Example Sort the list alphabetically:
thislist = ["orange","mango","kiwi","pineapple","banana"]
thislist.sort()
print(thislist)

# #Example Sort the list numerically:
thislist = [100,50,65,82,23]
thislist.sort()
print(thislist)

# #Example Sort the list descending(String)
thislist = ["orange","mango","kiwi","pineapple","banana"]
thislist.sort(reverse =True)
print(thislist)

# #Example: Sort the list descending: (numbers)
thislist=[100,50,65,82,23]
thislist.sort(reverse =True)
print(thislist)

# Custom Sort
# use the keyword argument key = function of the sort function.
# The function will return a number that will be used to sort
# the list (the lowest number first):
# Example
# Sort the list based on how close the number is to 50:
def myfunc(n):
    return abs(n-50)

thislist = [100,50,65,82,23]
thislist.sort(key=myfunc)
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]
['pineapple', 'orange', 'mango', 'kiwi', 'banana']
[100, 82, 65, 50, 23]
[50, 65, 23, 82, 100]

In [ ]:
def myfunc(n):
    return abs(n-50)

thislist = [100,50,65,82,23]
thislist.sort(key=myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [ ]:
abs(-10)

10

In [ ]:
def myfunc(n):
    return abs(n-50)
myfunc(82)

32

In [ ]:
# Example Perform a case-insensitive sort of the list:
thislist = ["Banana","orange","Kiwi","cherry"]
thislist.sort()
print(thislist)
thislist.sort(key=str.lower)
print(thislist)

# Example Reverse the order of the list items:
thislist = ["banana","Orange","Kiwi","cherry"]
thislist.reverse()
print(thislist)

['Banana', 'Kiwi', 'cherry', 'orange']
['Banana', 'cherry', 'Kiwi', 'orange']
['cherry', 'Kiwi', 'Orange', 'banana']

Now use List Comprehension

In [ ]:
# using Comprehension technique Create a new list
#Based on a list of fruits,containing only the fruits
#with the letter "a" in the name.

fruits = ["apple","banana","cherry","kiwi","mango"]
n_list =[]

for word in fruits:
    if 'a' in word:
        n_list.append(word)

print(n_list)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple","banana","cherry","kiwi","mango"]
n_l1 = [word for word in fruits if 'a' in word]
n_l1

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple","banana","cherry","kiwi","mango"]
#Only accept items that are not "apple":
newlist = [x for x in fruits if x != "apple"]

#Return "orange" instead of "banana":



newlist1 = [x if x != "banana" else "orange" for x in fruits]
print(newlist)
print(newlist1)

['banana', 'cherry', 'kiwi', 'mango']
['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [ ]:
# Practice Problems
# 1.WAP to Sum of all unique numbers in a list.
# 2.WAP to remove duplicates from a list.
# 3.Given two lists , concatenate index wise
#     list1 = ["M", "na", "i", "Ke"]
#     list2 = ["y", "me", "s", "lly"]
#     Output [My, name, is Kelly]
# 4.Concatenate two lists in the following order
# 	list1 = ["Hello ", "take "]
# 	list2 = ["Dear", "Sir"]
# 	Expected output:
# 	['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']
# 5.Remove empty strings from the list of strings
# 	list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
# 	output“[Mike", "Emma", "Kelly", "Brad"]

In [ ]:
# Given a list (Matrix) with = [ 	[1  ,  2  ,  3  ,  4] ,
# 					              [5  ,  6  ,  7  ,  8 ] ,
# 					              [9  , 10  , 11 , 12]]
#  Write a program to transpose the given matrix without list comprehension and with List comprehension.
# OUTPUT
# transposed = [ 	[1  ,  5 ,  9] ,
# 		            [2  ,  6  , 10] ,
# 				    [3  , 7  , 11] ,
# 				   [4  ,  8 , 12]]

In [ ]:
matrix= [ 	[1  ,  2  ,  3  ,  4],
            [5  ,  6  ,  7  ,  8 ] ,
            [9  , 10  , 11 , 12]]
# Without List Comprehension
transposed = []
for i in range(4):
    lst = []
    for row in matrix:
         lst.append(row[i])
    transposed.append(lst)

print(matrix)
print(transposed)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [ ]:
transposed = [[row[i] for row in matrix] for i in range(4)]
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

**Exception handling**

In [ ]:


# Exception Handling:

# - Is a mechanism to handle runtime errors (exceptions) in a program
# - Allows you to gracefully handle errors and provide useful error messages
# - Prevents program crashes and provides a way to recover from errors

# Key Concepts:

# - Try: Code that might raise an exception
# - Except: Block to handle the exception
# - Raise: Manually raise an exception
# - Assert: Check a condition and raise an exception if false
# - Finally: Code that runs regardless of exceptions

# Types of Exceptions:

# - Built-in Exceptions: Python's built-in exceptions (e.g., ZeroDivisionError, TypeError)
# - User-defined Exceptions: Custom exceptions created by the user

# Best Practices:

# - Use specific exceptions instead of general ones (e.g., ValueError instead of Exception)
# - Handle exceptions close to where they occur
# - Provide informative error messages
# - Use finally blocks for cleanup code

# Benefits:

# - Improves code reliability and stability
# - Provides better error messages and debugging information
# - Enhances user experience by handling errors gracefully

**exception**

In [ ]:
num = 10
num2 = 0
print(num/num2)
#Rest code not executed

ZeroDivisionError: division by zero

In [ ]:
x = 5
y = "hello"
print(x+y)
#Next code will not run

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
name = 5
print(names)
#print("name)
# Errors cannot be handled
# Exceptions can be handled using exception handling syntax

NameError: name 'names' is not defined

In [ ]:
# An exception is an event which occurs during execution of program that disrupts normal flow of program

# Dangerous
# lead to sudden termination, block application, data loss problem can occur, corrupt data files

In [ ]:
# 4 Block for exception
# Try
# except block
# else block
# finally block

#  try:
#  code containing exceptions(suspicious code)
# except ExceptionName:
#   code to handle exeption(if occurred)
# else:
#   code to execute if no exceptions occurred.
# finally:
#   #always execute# use file handling for closing the file

In [ ]:
num = 10
num2 = 0
try:
  print(num/num2)
except ZeroDivisionError:
  print("Divide by zero is not possible")

print("Rest of the code")

Divide by zero is not possible
Rest of the code

In [ ]:
num = 10
num2 = 5
try:
  div = num/num2
  print(dis) #NameError
except ZeroDivisionError:
  print("Divide by zero is not possible")

print("Rest of the code")

NameError: name 'dis' is not defined

In [ ]:
num = 10
num2 = 0
try:
  div = num/num2
  print(dis) #NameError
except ZeroDivisionError:
  print("Divide by zero is not possible")
except NameError:
  print("variable name wrong")

print("Rest of the code")

Divide by zero is not possible
Rest of the code

In [ ]:
num = 10
num2 = 0
#num2 =4
try:
  div = num/num2
  print(dis) #NameError
except (ZeroDivisionError, NameError) as obj:
  print(obj)


print("Rest of the code")

division by zero
Rest of the code

In [ ]:
num = 10
num2 = 0
#num2 =4
try:
  div = num/num2
  print(dis) #NameError
except Exception as obj:
  print(obj)


print("Rest of the code")

division by zero
Rest of the code

In [ ]:
num = 10
num2 = 0
try:
  div = num/num2
  print(dis) #NameError
except:
  print("variable name wrong")
else:
  print("an exception didn't occur")
finally:
  print("always execute")
print("Rest of the code")

1.4285714285714286
an exception didn't occur
always execute
Rest of the code

![image.png]()

In [ ]:
num = 10
num2 = 0
try:
  div = num/num2
  print(div) #NameError
except ZeroDivisionError as var:# do as Exception
  print(var)



 #print(var.__class__)
print("Rest of the code")

division by zero
<class 'ZeroDivisionError'>
Rest of the code

In [ ]:
#User Define Exception
# Raise key want to throw exception in particular exception
age = -10
try:
  #age = int(input('enter age:'))
  print(age)
  if age<0:
    raise ValueError('age cannot be negative')
    print(age)
except Exception as f:
    print(f)
print('rest of the code')

-10
age cannot be negative
rest of the code

In [ ]:
# age = -10
# try:
#   #age = int(input('enter age:'))
#   if age<0:
#     raise ValueError('enter valid age')
#     print(age)
#   else:
#     print("age")
# except:
#     print('enter valid agggge')
# print('rest of the code')

age
rest of the code

1. Default Exception:

In [ ]:

try:
    x = 5 / 0
except Exception as e:
    print(f"An error occurred: {e}")

An error occurred: division by zero

1. Catching Exceptions:

In [ ]:
try:
    x = 5 / 0
except ZeroDivisionError:
    print("Cannot divide by zero!")

Cannot divide by zero!

3. **Raise an exception**:

In [ ]:
#6. **Assert block** Second way raisning
# An asser statement in python is used to test an expression in program code
# Syntax: assert Expression[,arguments] #optional argument
age = int(input('enter number'))
try:
  assert age>= 0, "age must be positive!"# Trye exoression no exception false case raise exception
  print("your age is " , age)
except Exception as f:
  print(f)

print("rest of code")

enter number8
your age is  8
rest of code

In [ ]:
#1. *Finally block*:

try:
    x = 5 / 0
except ZeroDivisionError:
    print("Cannot divide by zero!")
finally:
    print("Execution complete!")

Cannot divide by zero!
Execution complete!

**Creating Class and Objects**

In [ ]:
# Create a class with property "var1"
class myclass:
 var1 = 10


 # Create an object of class "myclass()"
obj1 = myclass()
print(obj1.var1)

10

In [ ]:
class Car:


# Initializer / Instance attributes
 # Constructor or class attributes
  def __init__(self, make, model, year):
    self.make = make
    self.model = model
    self.year = year

In [ ]:
car1 = Car("Toyota", "Camry", 2023)

In [ ]:
print(car1.make)

Toyota

In [ ]:

# So You have a company and you want to make application in python for your company
# Method founction associated with class
# Each employ have attribute so you have to create class have blueprint for each employee no need to do manually
class Employee:
  pass

emp_1 = Employee()
emp_2 = Employee()

print(emp_1)
print(emp_2)

<__main__.Employee object at 0x7ddeeed8f5e0>
<__main__.Employee object at 0x7ddeeed8f0a0>

In [ ]:
#Instance variable
# Manully working with class is not any benifit
class Employee:
  pass

emp_1 = Employee()
emp_2 = Employee()

print(emp_1)
print(emp_2)

emp_1.first = "Asif"
emp_1.last = "Ali"
emp_1.email = 'asifali@gmail.com'
emp_1.salary = 50000

emp_2.first = "Ram"
emp_2.last = "shaym"
emp_2.email = 'Ramshaym@gmail.com'
emp_2.salary = 40000

print(emp_1.email)
print(emp_2.email)

<__main__.Employee object at 0x7ddeeed8ee00>
<__main__.Employee object at 0x7ddeeed8c190>
asifali@gmail.com
Ramshaym@gmail.com

In [ ]:
# doing same using init method

class Employee:
  #special init method # another thing it is constructor
  def __init__(self, first, last, pay):
    #first argument get automatic, set all instance method
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + '.' + last + '@gmail.com'

emp_1 = Employee('Asif', 'Ali', 50000)
emp_2 = Employee('Ram', 'Shaym', 40000)

print(emp_1.email)
print(emp_2.email)

# For printing
print('{} {} '.format(emp_1.first, emp_1.last))

Asif.Ali@gmail.com
Ram.Shaym@gmail.com
Asif Ali

In [ ]:
# Each time for display you will type each but do making a functionalaty.put functionalaty at one place
# by making a function for printing

class Employee:
  #special init method # another thing it is constructor
  def __init__(self, first, last, pay):
    #first argument get automatic, set all instance method
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + '.' + last + '@gmail.com'


  def fullname(self):
    return '{} {}'.format(self.first, self.last)

emp_1 = Employee('Asif', 'Ali', 50000)
emp_2 = Employee('Ram', 'Shaym', 40000)

# print(emp_1.email)
# print(emp_2.email)

print(emp_1.fullname()) # method as return value
# for emp_2 full address
print(emp_2.fullname())

In [ ]:
class Employee:
  #special init method # another thing it is constructor
  def __init__(self, first, last, pay):
    #first argument get automatic, set all instance method
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + '.' + last + '@gmail.com'


  def fullname(self):
    return '{} {}'.format(self.first, self.last)

emp_1 = Employee('Asif', 'Ali', 50000)
emp_2 = Employee('Ram', 'Shaym', 40000)

print(emp_1.email)
print(emp_2.email)

print(emp_1.fullname())

Asif.Ali@gmail.com
Ram.Shaym@gmail.com
Asif Ali

In [ ]:



#Class Variables

class Employee:
  #special init method # another thing it is constructor
  def __init__(self, first, last, pay):
    #first argument get automatic, set all instance method
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + '.' + last + '@gmail.com'


  def fullname(self):
    return '{} {}'.format(self.first, self.last)

  def apply_raise(self):
   self.pay = int(self.pay*1.04)

emp_1 = Employee('Asif', 'Ali', 50000)
emp_2 = Employee('Ram', 'Shaym', 40000)

print(emp_1.pay)
emp_1.apply_raise()
print(emp_1.pay)

50000
52000

In [ ]:

#Class Variables
class Employee:
  raise_amount = 1.04
  #special init method # another thing it is constructor
  def __init__(self, first, last, pay):
    #first argument get automatic, set all instance method
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + '.' + last + '@gmail.com'


  def fullname(self):
    return '{} {}'.format(self.first, self.last)

  def apply_raise(self):
   self.pay = int(self.pay*self.raise_amount)

emp_1 = Employee('Asif', 'Ali', 50000)
emp_2 = Employee('Ram', 'Shaym', 40000)

print(emp_1.pay)
emp_1.apply_raise()
print(emp_1.pay)

#Something
emp_1.raise_amount
# Employee.raise_amount

50000
52000

In [ ]:

#classmethod
class Employee:
  raise_amt = 1.04
  #special init method # another thing it is constructor
  def __init__(self, first, last, pay):
    #first argument get automatic, set all instance method
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + '.' + last + '@gmail.com'

  def fullname(self):
    return '{} {}'.format(self.first, self.last)

  @classmethod
  def set_raise_amt(cls, amount):
    cls.raise_amt = amount

emp_1 = Employee('Asif', 'Ali', 50000)
emp_2 = Employee('Ram', 'Shaym', 40000)

#all set to 5% blc run set amount that is class variable not instance variable
Employee.set_raise_amt(1.05)

print(Employee.raise_amt)
print(emp_1.raise_amt)
print(emp_2.raise_amt)

1.05
1.05
1.05
None

In [ ]:
#use classmethod as alternative constructor means use class method as multiple way creating our object #Alteranative
#classmethod
class Employee:
  raise_amt = 1.04
  #num_of_emps = 0
  #special init method # another thing it is constructor
  def __init__(self, first, last, pay):
    #first argument get automatic, set all instance method
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + '.' + last + '@gmail.com'
    #Employee.num_of_emps += 1

  def fullname(self):
    return '{} {}'.format(self.first, self.last)


  def apply_raise(self):
   self.pay = int(self.pay*Employee.raise_amount)

  @classmethod
  def set_raise_amt(cls, amount):
    #pass
    cls.raise_amt = amount


emp_1 = Employee('Asif', 'Ali', 50000)
emp_2 = Employee('Ram', 'Shaym', 40000)


emp_str_1 = 'Jome-Doee-70000'
emp_str_2 = 'Steve-Smeeth-30000'
emp_str_3 = 'Jame-Doee-90000'

first, last, pay = emp_str_1.split('-')

new_emp_1 = Employee(first, last, pay)
#new_emp_1 = Employee.from_string(emp_str_1)

print(new_emp_1.email)
print(new_emp_1.pay)

Jome.Doee@gmail.com
70000

In [ ]:
class Employee:

    num_of_emps = 0
    raise_amt = 1.04

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

        Employee.num_of_emps += 1

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)

    @classmethod
    def set_raise_amt(cls, amount):
        cls.raise_amt = amount

    @classmethod
    def from_string(cls, emp_str):
        first, last, pay = emp_str.split('-')
        return cls(first, last, pay)


emp_1 = Employee('Cor', 'Shaym', 50000)
emp_2 = Employee('Test', 'Employee', 60000)


emp_str_1 = 'Jome-Doee-70000'
emp_str_2 = 'Steve-Smeeth-30000'
emp_str_3 = 'Jame-Doee-90000'

#new_emp_1 = Employee(first, last, pay)
new_emp_1 = Employee.from_string(emp_str_1)


print(new_emp_1.email)
print(new_emp_1.pay)

Jome.Doee@email.com
70000

In [ ]:
#static method
class Employee:

    num_of_emps = 0
    raise_amt = 1.04

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

        Employee.num_of_emps += 1

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)

    @classmethod
    def set_raise_amt(cls, amount):
        cls.raise_amt = amount

    @classmethod
    def from_string(cls, emp_str):
        first, last, pay = emp_str.split('-')
        return cls(first, last, pay)


#Regular method pass instance as first argument as self and class method pass cls as first argument and
# staticmethod don't pass any instance or class as first argument automatic
    @staticmethod
    def is_workday(day):
        if day.weekday() == 5 or day.weekday() == 6:
            return False
        return True


emp_1 = Employee('Core', 'Shyam', 50000)
emp_2 = Employee('Test', 'Employee', 60000)

first, last, pay = emp_str_1.split('-')

#new_emp_1 = Employee(first, last, pay)
new_emp_1 = Employee.from_string(emp_str_1)

import datetime
my_date = datetime.date(2016, 7, 11)

print(Employee.is_workday(my_date))

True

In [ ]:
#static method
class Employee:

    num_of_emps = 0
    raise_amt = 1.04

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay
        Employee.num_of_emps += 1

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)

class Developer(Employee):
  pass


# dev_1 = Employee('Corey', 'Schafer', 50000)
# dev_2 = Employee('Test', 'Employee', 60000)
dev_1 = Developer('Core', 'Shyam', 50000)
dev_2 = Developer('Test', 'Employee', 60000)

# print(dev_1.email)
# print(dev_2.email)

print(dev_1.pay)
dev_1.apply_raise()
print(dev_1.pay)
# print(help(Developer))

50000
52000

In [ ]:
#static method
class Employee:

    num_of_emps = 0
    raise_amt = 1.04

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

        Employee.num_of_emps += 1

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)

class Developer(Employee):
  raise_amt = 1.10


# dev_1 = Employee('Corey', 'Schafer', 50000)
# dev_2 = Employee('Test', 'Employee', 60000)
dev_1 = Developer('Core', 'Shyam', 50000)
dev_2 = Developer('Test', 'Employee', 60000)

# print(dev_1.email)
# print(dev_2.email)

print(dev_1.pay)
dev_1.apply_raise()
print(dev_1.pay)
# print(help(Developer))

50000
55000

In [ ]:
#static method
class Employee:

    num_of_emps = 0
    raise_amt = 1.04

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

        Employee.num_of_emps += 1

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)

class Developer(Employee):
  raise_amt = 1.10


dev_1 = Employee('Core', 'Shyam', 50000)
# dev_2 = Employee('Test', 'Employee', 60000)
# dev_1 = Developer('Core', 'Shyam', 50000)
dev_2 = Developer('Test', 'Employee', 60000)

# print(dev_1.email)
# print(dev_2.email)

print(dev_1.pay)
dev_1.apply_raise()
print(dev_1.pay)
# print(help(Developer))

50000
52000

In [ ]:
#static method
class Employee:

    num_of_emps = 0
    raise_amt = 1.04

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

        Employee.num_of_emps += 1

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)

class Developer(Employee):
  raise_amt = 1.10
  def __init__(self, first, last, pay, prog_lang):
    #do manually all by self and use super or parent class
    super().__init__(first,last,pay)
    # Employee.__init__(self,first,last,pay)
    self.prog_lang = prog_lang


# dev_1 = Employee('Core', 'Shyam', 50000)
# dev_2 = Employee('Test', 'Employee', 60000)
dev_1 = Developer('Core', 'Shyam', 50000, 'Python')
dev_2 = Developer('Test', 'Employee', 60000, 'java')

print(dev_1.email)
print(dev_1.prog_lang)

# print(dev_1.pay)
# dev_1.apply_raise()
# print(dev_1.pay)
# # print(help(Developer))

Core.Shyam@email.com
Python

In [ ]:
#Inheritance
class Employee:

    raise_amt = 1.04

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)


class Developer(Employee):
    raise_amt = 1.10

    def __init__(self, first, last, pay, prog_lang):
        super().__init__(first, last, pay)
        self.prog_lang = prog_lang


class Manager(Employee):

    def __init__(self, first, last, pay, employees=None):
        super().__init__(first, last, pay)
        if employees is None:
            self.employees = []
        else:
            self.employees = employees

    def add_emp(self, emp):
        if emp not in self.employees:
            self.employees.append(emp)

    def remove_emp(self, emp):
        if emp in self.employees:
            self.employees.remove(emp)

    def print_emps(self):
        for emp in self.employees:
            print('-->', emp.fullname())


dev_1 = Developer('Core', 'Shyam', 50000, 'Python')
dev_2 = Developer('Test', 'Employee', 60000, 'Java')

mgr_1 = Manager('Sue', 'Smith', 90000, [dev_1])

print(mgr_1.email)

mgr_1.add_emp(dev_2)
mgr_1.print_emps()
# mgr_1.remove_emp(dev_2)

# print(isinstance(mgr_1, Employee))
# print(issubclass(Manager, Developer))

Sue.Smith@email.com
--> Core Shyam
--> Test Employee

In [ ]:
#property decorators getter, setters and deleters
class Employee:
    def __init__(self, first, last):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

emp_1 = Employee('Jumi', 'Smith')

#p
# emp_1.first = 'jim'
print(emp_1.first)
print(emp_1.email)
print(emp_1.fullname())

Jumi
Jumi.Smith@email.com
Jumi Smith

In [ ]:

class Employee:

    def __init__(self, first, last):
        self.first = first
        self.last = last

    def email(self):
        return '{}.{}@email.com'.format(self.first, self.last)

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

emp_1 = Employee('Jumi', 'Smith')

emp_1.first = 'jimi'

print(emp_1.first)
print(emp_1.email())
print(emp_1.fullname())

jimi
jimi.Smith@email.com
jimi Smith

In [ ]:
class Employee:

    def __init__(self, first, last):
        self.first = first
        self.last = last

#decorator
    @property
    def email(self):
        return '{}.{}@email.com'.format(self.first, self.last)


    @property
    def fullname(self):
        return '{} {}'.format(self.first, self.last)

emp_1 = Employee('Jumi', 'Smith')

emp_1.first = 'jimi'

#You can't set attribute
#emp_1.fullname = 'Hello class'

print(emp_1.first)
print(emp_1.email)
print(emp_1.fullname)

jimi
jimi.Smith@email.com
jimi Smith

In [ ]:
class Employee:

    def __init__(self, first, last):
        self.first = first
        self.last = last

#decorator
    @property
    def email(self):
        return '{}.{}@email.com'.format(self.first, self.last)


    @property
    def fullname(self):
        return '{} {}'.format(self.first, self.last)


    @fullname.setter
    def fullname(self, name):
        first, last = name.split(' ')
        self.first = first
        self.last = last

emp_1 = Employee('Jumi', 'Smith')

emp_1.first = 'jimi'


emp_1.fullname = 'Hello class'

print(emp_1.first)
print(emp_1.email)
print(emp_1.fullname)

Hello
Hello.class@email.com
Hello class

In [ ]:

class Employee:

    def __init__(self, first, last):
        self.first = first
        self.last = last

    @property
    def email(self):
        return '{}.{}@email.com'.format(self.first, self.last)

    @property
    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    @fullname.setter
    def fullname(self, name):
        first, last = name.split(' ')
        self.first = first
        self.last = last

    @fullname.deleter
    def fullname(self):
        print('Delete Name!')
        self.first = None
        self.last = None


emp_1 = Employee('Jumi', 'Smith')
emp_1.fullname = "Hello Class"

print(emp_1.first)
print(emp_1.email)
print(emp_1.fullname)

del emp_1.fullname

Hello
Hello.Class@email.com
Hello Class
Delete Name!

**encapsulation** in Python involves bundling the data (attributes) and methods that operate on the data into a single unit, typically a class. It also includes restricting direct access to some of an object's components, which can prevent the accidental modification of data.

In [ ]:
class Person:
    def __init__(self, name, age):
        self.__name = name  # Private attribute
        self.__age = age    # Private attribute

    def get_name(self):
        return self.__name

    def set_name(self, name):
        self.__name = name

    def get_age(self):
        return self.__age

    def set_age(self, age):
        if age > 0:
            self.__age = age
        else:
            print("Age cannot be negative")

person = Person("Alice", 30)
print(person.get_name())  # Output: Alice
print(person.get_age())   # Output: 30

person.set_age(35)
print(person.get_age())   # Output: 35

person.set_age(-5)        # Output: Age cannot be negative
# print(Person.name)

Alice
30
35
Age cannot be negative

In [ ]:
class Employee:
    raise_amt = 1.04

    def __init__(self, first, last, pay):
        self.__first = first      # Private attribute
        self.__last = last        # Private attribute
        self.__pay = pay          # Private attribute
        self.email = first + '.' + last + '@email.com'

    def fullname(self):
        return '{} {}'.format(self.__first, self.__last)

    def apply_raise(self):
        self.__pay = int(self.__pay * self.raise_amt)

    def get_first(self):
        return self.__first

    def set_first(self, first):
        self.__first = first

    def get_last(self):
        return self.__last

    def set_last(self, last):
        self.__last = last

    def get_pay(self):
        return self.__pay

    def set_pay(self, pay):
        self.__pay = pay


class Developer(Employee):
    raise_amt = 1.10

    def __init__(self, first, last, pay, prog_lang):
        super().__init__(first, last, pay)
        self.__prog_lang = prog_lang  # Private attribute

    def get_prog_lang(self):
        return self.__prog_lang

    def set_prog_lang(self, prog_lang):
        self.__prog_lang = prog_lang


class Manager(Employee):

    def __init__(self, first, last, pay, employees=None):
        super().__init__(first, last, pay)
        if employees is None:
            self.__employees = []  # Private attribute
        else:
            self.__employees = employees

    def add_emp(self, emp):
        if emp not in self.__employees:
            self.__employees.append(emp)

    def remove_emp(self, emp):
        if emp in self.__employees:
            self.__employees.remove(emp)

    def print_emps(self):
        for emp in self.__employees:
            print('-->', emp.fullname())


dev_1 = Developer('Coree', 'Shyam', 50000, 'Python')
dev_2 = Developer('Test', 'Employee', 60000, 'Java')

mgr_1 = Manager('Shyam', 'Smi', 90000, [dev_1])

print(mgr_1.email)

mgr_1.add_emp(dev_2)
mgr_1.print_emps()

# Accessing private attributes using getter methods
print(dev_1.get_prog_lang())  # Output: Python
print(dev_1.fullname())       # Output: Corey Schafer

# Modifying private attributes using setter methods
dev_1.set_prog_lang('C++')
print(dev_1.get_prog_lang())  # Output: C++

Shyam.Smi@email.com
--> Coree Shyam
--> Test Employee
Python
Coree Shyam
C++

**Polymorphism** allows methods to do different things based on the object it is acting upon. This means that different classes can define the same method or attribute. Here's an example demonstrating polymorphism using the Employee, Developer, and Manager classes.

In [ ]:
class Dog:
    def speak(self):
        return "Woof!"

class Cat:
    def speak(self):
        return "Meow!"

def animal_sound(animal):
    print(animal.speak())

dog = Dog()
cat = Cat()

animal_sound(dog)  # Output: Woof!
animal_sound(cat)  # Output: Meow!

Woof!
Meow!

In [ ]:
class Employee:
    raise_amt = 1.04

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = first + '.' + last + '@email.com'

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)

    def work(self):
        return f"{self.fullname()} is working."


class Developer(Employee):
    raise_amt = 1.10

    def __init__(self, first, last, pay, prog_lang):
        super().__init__(first, last, pay)
        self.prog_lang = prog_lang

    def work(self):
        return f"{self.fullname()} is writing code in {self.prog_lang}."


class Manager(Employee):

    def __init__(self, first, last, pay, employees=None):
        super().__init__(first, last, pay)
        if employees is None:
            self.employees = []
        else:
            self.employees = employees

    def add_emp(self, emp):
        if emp not in self.employees:
            self.employees.append(emp)

    def remove_emp(self, emp):
        if emp in self.employees:
            self.employees.remove(emp)

    def print_emps(self):
        for emp in self.employees:
            print('-->', emp.fullname())

    def work(self):
        return f"{self.fullname()} is managing employees."


# Instances of the classes
dev_1 = Developer('Core', 'Shyam', 50000, 'Python')
dev_2 = Developer('Test', 'Employee', 60000, 'Java')
mgr_1 = Manager('Suman', 'Smith', 90000, [dev_1])

# Demonstrating polymorphism
employees = [dev_1, dev_2, mgr_1]

for emp in employees:
    print(emp.work())

# Output:
# Corey Schafer is writing code in Python.
# Test Employee is writing code in Java.
# Sue Smith is managing employees.

Core Shyam is writing code in Python.
Test Employee is writing code in Java.
Suman Smith is managing employees.

**Data abstraction** is the process of hiding the complex implementation details and showing only the essential features of the object. In Python, data abstraction can be achieved using abstract classes and interfaces. The abc module provides the infrastructure for defining abstract base classes (ABCs)

In [ ]:
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        print("hellow")

    @abstractmethod
    def perimeter(self):
        print("hey")

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

    def perimeter(self):
        return 2 * (self.width + self.height)

rect = Rectangle(10, 20)
print("Area:", rect.area())          # Output: Area: 200
print("Perimeter:", rect.perimeter()) # Output: Perimeter: 60

Area: 200
Perimeter: 60

In [ ]:
from abc import ABC, abstractmethod

class Employee(ABC):
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = first + '.' + last + '@company.com'

    @abstractmethod
    def fullname(self):
        pass

    @abstractmethod
    def apply_raise(self):
        pass

class Developer(Employee):
    raise_amt = 1.10

    def __init__(self, first, last, pay, prog_lang):
        super().__init__(first, last, pay)
        self.prog_lang = prog_lang

    def fullname(self):
        return f"{self.first} {self.last}"

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)
        return self.pay

class Manager(Employee):
    raise_amt = 1.20

    def __init__(self, first, last, pay, employees=None):
        super().__init__(first, last, pay)
        if employees is None:
            self.employees = []
        else:
            self.employees = employees

    def fullname(self):
        return f"{self.first} {self.last}"

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)
        return self.pay

    def add_emp(self, emp):
        if emp not in self.employees:
            self.employees.append(emp)

    def remove_emp(self, emp):
        if emp in self.employees:
            self.employees.remove(emp)

    def print_emps(self):
        for emp in self.employees:
            print('-->', emp.fullname())

# Creating instances
dev_1 = Developer('Coree', 'Shyam', 50000, 'Python')
dev_2 = Developer('Test', 'Employee', 60000, 'Java')

mgr_1 = Manager('Shyam', 'Smith', 90000, [dev_1])

print(mgr_1.email)

mgr_1.add_emp(dev_2)
mgr_1.print_emps()

# Demonstrating data abstraction
print(dev_1.fullname())  # Output: Coree Shyam
print(dev_1.apply_raise())  # Output: 55000

print(mgr_1.fullname())  # Output: Shyam Smith
print(mgr_1.apply_raise())  # Output: 108000

Shyam.Smith@company.com
--> Coree Shyam
--> Test Employee
Coree Shyam
55000
Shyam Smith
108000

**Data hidin**g is a concept used to restrict access to certain details of an object, essentially hiding its internal state and requiring all interactions to occur through an object's methods. In Python, data hiding can be achieved using private attributes and methods, which are indicated by prefixing the name with a double underscore __.

In [ ]:
class Account:
    def __init__(self, owner, balance=0):
        self.owner = owner
        self.__balance = balance  # Private attribute

    def deposit(self, amount):
        self.__balance += amount

    def withdraw(self, amount):
        if amount <= self.__balance:
            self.__balance -= amount
        else:
            print("Insufficient funds!")

    def get_balance(self):
        return self.__balance

# Creating an account
acct = Account('John Doe', 100)
acct.deposit(50)
acct.withdraw(30)
print(acct.get_balance())  # Output: 120

# Trying to access the private attribute directly will raise an AttributeError
# print(acct.__balance)  # Uncommenting this line will raise an AttributeError

120

In [ ]:
class Employee:
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.__pay = pay  # Private attribute

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def get_pay(self):
        return self.__pay

    def apply_raise(self, raise_amt):
        self.__pay = int(self.__pay * raise_amt)
        return self.__pay

class Developer(Employee):
    def __init__(self, first, last, pay, prog_lang):
        super().__init__(first, last, pay)
        self.prog_lang = prog_lang

class Manager(Employee):
    def __init__(self, first, last, pay, employees=None):
        super().__init__(first, last, pay)
        if employees is None:
            self.__employees = []  # Private attribute
        else:
            self.__employees = employees

    def add_emp(self, emp):
        if emp not in self.__employees:
            self.__employees.append(emp)

    def remove_emp(self, emp):
        if emp in self.__employees:
            self.__employees.remove(emp)

    def print_emps(self):
        for emp in self.__employees:
            print('-->', emp.fullname())

# Creating instances
dev_1 = Developer('Coree', 'Shyam', 50000, 'Python')
dev_2 = Developer('Test', 'Employee', 60000, 'Java')

mgr_1 = Manager('Suman', 'Smith', 90000, [dev_1])

# Demonstrating data hiding
print(mgr_1.fullname())  # Output: Sue Smith
mgr_1.add_emp(dev_2)
mgr_1.print_emps()
# Output:
# --> Corey Schafer
# --> Test Employee

# Trying to access the private attribute directly will raise an AttributeError
# print(mgr_1.__employees)  # Uncommenting this line will raise an AttributeError

Suman Smith
--> Coree Shyam
--> Test Employee

**Generators** are a special type of iterator in Python that allows you to iterate through a sequence of values. They are defined using functions and the yield statement. Generators provide an efficient way to generate values on the fly without storing the entire sequence in memory.

In [ ]:
# Basic generator function
def count_up_to(max):
    count = 1
    while count <= max:
        yield count
        count += 1

# Create a generator object
counter = count_up_to(5)

# Iterate through the generator
for number in counter:
    print(number)
# Output:
# 1
# 2
# 3
# 4
# 5

1
2
3
4
5

In [ ]:
# Complex generator function to generate Fibonacci numbers
def fibonacci():
    a, b = 0, 1
    while True:
        yield a
        a, b = b, a + b

# Create a generator object
fib_gen = fibonacci()

# Print the first 10 Fibonacci numbers
for _ in range(10):
    print(next(fib_gen))
# Output:
# 0
# 1
# 1
# 2
# 3
# 5
# 8
# 13
# 21
# 34

0
1
1
2
3
5
8
13
21
34

In [ ]:
# Generator to yield numbers from a list
def numbers():
    yield from [1, 2, 3]

# Generator to yield letters from a list
def letters():
    yield from ['a', 'b', 'c']

# Combined generator using 'yield from'
def combined():
    yield from numbers()
    yield from letters()

# Create a generator object
combined_gen = combined()

# Iterate through the combined generator
for item in combined_gen:
    print(item)
# Output:
# 1
# 2
# 3
# a
# b
# c

1
2
3
a
b
c

In [ ]:
# Generators Example
# Generators are a simple way to create iterators using a function that yields values one at a time.
def count_up_to(max):
    count = 1
    while count <= max:
        yield count
        count += 1

counter = count_up_to(5)
for num in counter:
    print(num)

1
2
3
4
5

**Iterators** are objects that allow you to traverse through all the elements of a collection (like lists, tuples, or dictionaries). They implement two methods: __iter__() and __next__(). Here, we will explain iterators with both basic and more complex examples, along with comments in the code

In [ ]:
# Define a simple iterator
class Counter:
    def __init__(self, low, high):
        self.current = low
        self.high = high

    def __iter__(self):
        return self

    def __next__(self):
        if self.current > self.high:
            raise StopIteration
        else:
            self.current += 1
            return self.current - 1

# Create an instance of the iterator
counter = Counter(1, 5)

# Iterate through the Counter instance
for number in counter:
    print(number)
# Output:
# 1
# 2
# 3
# 4
# 5

1
2
3
4
5

In [ ]:
# Define a list
numbers = [1, 2, 3, 4, 5]

# Get an iterator from the list
numbers_iter = iter(numbers)

# Use the next() function to get elements from the iterator
print(next(numbers_iter))  # Output: 1
print(next(numbers_iter))  # Output: 2
print(next(numbers_iter))  # Output: 3

1
2
3

In [ ]:
# Define a custom data structure and an iterator for it
class Node:
    def __init__(self, value):
        self.value = value
        self.next = None

class LinkedList:
    def __init__(self):
        self.head = None

    def append(self, value):
        new_node = Node(value)
        if not self.head:
            self.head = new_node
        else:
            current = self.head
            while current.next:
                current = current.next
            current.next = new_node

    def __iter__(self):
        return LinkedListIterator(self.head)

class LinkedListIterator:
    def __init__(self, start_node):
        self.current_node = start_node

    def __iter__(self):
        return self

    def __next__(self):
        if self.current_node:
            value = self.current_node.value
            self.current_node = self.current_node.next
            return value
        else:
            raise StopIteration

# Create a linked list and append some values
linked_list = LinkedList()
linked_list.append(1)
linked_list.append(2)
linked_list.append(3)

# Iterate through the linked list using the iterator
for value in linked_list:
    print(value)
# Output:
# 1
# 2
# 3

1
2
3

In [ ]:
# Iterators Example
# Iterators are objects that allow traversing through all the elements of a collection.
class MyRange:
    def __init__(self, start, end):
        self.current = start
        self.end = end

    def __iter__(self):
        return self

    def __next__(self):
        if self.current >= self.end:
            raise StopIteration
        else:
            self.current += 1
            return self.current - 1

my_range = MyRange(1, 5)
for num in my_range:
    print(num)

1
2
3
4

Classes as User Defined Data Type

In [ ]:
# We define a Book class with an __init__ method that initializes the title, author, and year attributes.

# The __str__ method is a special method that defines how the object should be represented as a string when printed.

# The __repr__ method is another special method that defines how the object should be represented as a string when used in expressions or when the repr() function is called on it.

# We create two instances (objects) of the Book class: book1 and book2.

# We use the print function to display the string representation of book1 and the repr representation of book2.

# We create a list book_list that contains the book1 and book2 objects, demonstrating that objects can be used as user-defined data types in data structures like lists.




class Book:
    def __init__(self, title, author, year):
        self.title = title
        self.author = author
        self.year = year

    def __str__(self):
        return f"{self.title} by {self.author} ({self.year})"

    def __repr__(self):
        return f"Book('{self.title}', '{self.author}', {self.year})"

# Creating instances (objects) of the Book class
book1 = Book("The Great Gatsby", "F. Scott Fitzgerald", 1925)
book2 = Book("To Kill a Mockingbird", "Harper Lee", 1960)

# Using objects as user-defined data types
print(book1)  # Output: The Great Gatsby by F. Scott Fitzgerald (1925)
print(repr(book2))  # Output: Book('To Kill a Mockingbird', 'Harper Lee', 1960)

# Creating a list of Book objects
book_list = [book1, book2]
print(book_list)  # Output: [Book('The Great Gatsby', 'F. Scott Fitzgerald', 1925), Book('To Kill a Mockingbird', 'Harper Lee', 1960)]

The Great Gatsby by F. Scott Fitzgerald (1925)
Book('To Kill a Mockingbird', 'Harper Lee', 1960)
[Book('The Great Gatsby', 'F. Scott Fitzgerald', 1925), Book('To Kill a Mockingbird', 'Harper Lee', 1960)]

In [ ]:
# Variables & Methods
# Variables
# In a class, you can have two types of variables:

# Instance Variables: Variables that are unique to each instance.
# Class Variables: Variables that are shared among all instances.
# Methods
# # Methods are functions defined within a class and are used to define the behaviors of the objects

In [ ]:
# Methods
# Methods are functions defined within a class and are used to define the behaviors of the objects.


# Class with instance variables, class variables, and methods
class Student:
    # Class variable
    school_name = "ABC High School"

    def __init__(self, name, grade):
        # Instance variables
        self.name = name
        self.grade = grade

    # Instance method
    def get_student_info(self):
        return f"Name: {self.name}, Grade: {self.grade}, School: {Student.school_name}"

    # Class method
    @classmethod
    def change_school(cls, new_school_name):
        cls.school_name = new_school_name

# Creating objects
student1 = Student("John", "A")
student2 = Student("Jane", "B")

print(student1.get_student_info())  # Output: Name: John, Grade: A, School: ABC High School
print(student2.get_student_info())  # Output: Name: Jane, Grade: B, School: ABC High School

# Changing the class variable using a class method
Student.change_school("XYZ High School")
print(student1.get_student_info())  # Output: Name: John, Grade: A, School: XYZ High School
print(student2.get_student_info())  # Output: Name: Jane, Grade: B, School: XYZ High School

Name: John, Grade: A, School: ABC High School
Name: Jane, Grade: B, School: ABC High School
Name: John, Grade: A, School: XYZ High School
Name: Jane, Grade: B, School: XYZ High School

**Creating Objects By Passing(Values)**

In [ ]:
# Class definition
class Car:
  def __init__(self, make, model, year):  # Constructor
    self.make = make
    self.model = model
    self.year = year

# Create objects (passing values during construction)
car1 = Car("Toyota", "Camry", 2023)
car2 = Car("Honda", "Civic", 2022)

print(f"Car 1: {car1.make} {car1.model} ({car1.year})")
print(f"Car 2: {car2.make} {car2.model} ({car2.year})")

Car 1: Toyota Camry (2023)
Car 2: Honda Civic (2022)

In [ ]:
# Creating Objects By Passing Values
# When creating an object, values can be passed to the __init__ method to initialize the object's attributes.


# Class definition
class Book:
    def __init__(self, title, author, year):
        self.title = title
        self.author = author
        self.year = year

    def get_details(self):
        return f"'{self.title}' by {self.author} ({self.year})"

# Creating objects by passing values
book1 = Book("To Kill a Mockingbird", "Harper Lee", 1960)
book2 = Book("1984", "George Orwell", 1949)

print(book1.get_details())  # Output: 'To Kill a Mockingbird' by Harper Lee (1960)
print(book2.get_details())  # Output: '1984' by George Orwell (1949)

'To Kill a Mockingbird' by Harper Lee (1960)
'1984' by George Orwell (1949)

In [ ]:
 # Create an employee class
class Employee:
  def __init__(self, name, empid): # __init__() function is used to assign values
    self.name = name
    self.empid = empid
  def greet(self): # Class Method
    print("Thanks for joining ABC Company {}!!".format(self.name))
emp1 = Employee("Asif", 34163) # Create an employee object
print('Name :- ',emp1.name)
print('Employee ID :- ',emp1.empid)
emp1.greet()

Name :-  Asif
Employee ID :-  34163
Thanks for joining ABC Company Asif!!

In [ ]:
# We define a class called **Student** with a class attribute species

# The __init__ method is a special method called the constructor, which initializes the object's attributes name and grade when an instance of the class is created
# The **add_course** method appends a course to the courses list.

# The **remove_course** method removes a course from the courses list.

# We create three student instances with specific names and grades: ram, shyam, and mohan.

# We add courses to the students using the add_course method.

# We remove a course from shyam using the **remove_course** method.

# Finally, we print the details of each student, including their name, grade, and the list of courses they are enrolled in.



class Student:
  # Constructor to initialize instance attributes
    def __init__(self, name, grade):
        self.name = name
        self.grade = grade
        self.courses = []

    def add_course(self, course):
        self.courses.append(course)

    def remove_course(self, course):
        self.courses.remove(course)

# Create student instances # Instance method
ram = Student("Ram", 9)
shyam = Student("Shyam", 10)
mohan = Student("Mohan", 11)

# Add courses to students
ram.add_course("Math")
shyam.add_course("English")
mohan.add_course("Physics")

# Remove a course from a student
shyam.remove_course("English")

# Print student details
print(f"Name: {ram.name}, Grade: {ram.grade}, Courses: {ram.courses}")
print(f"Name: {shyam.name}, Grade: {shyam.grade}, Courses: {shyam.courses}")
print(f"Name: {mohan.name}, Grade: {mohan.grade}, Courses: {mohan.courses}")

Name: Ram, Grade: 9, Courses: ['Math']
Name: Shyam, Grade: 10, Courses: []
Name: Mohan, Grade: 11, Courses: ['Physics']

In [ ]:
# Base class
class Vehicle:
    def __init__(self, make, model):
        self.make = make
        self.model = model

    def display_info(self):
        raise NotImplementedError("Subclass must implement abstract method")

# Subclass of Vehicle
class Car(Vehicle):
    def display_info(self):
        return f"Car Make: {self.make}, Model: {self.model}"

# Subclass of Vehicle
class Bike(Vehicle):
    def display_info(self):
        return f"Bike Make: {self.make}, Model: {self.model}"

# Subclass of Vehicle
class Truck(Vehicle):
    def display_info(self):
        return f"Truck Make: {self.make}, Model: {self.model}"

# Creating objects of Car, Bike, and Truck
my_car = Car("Toyota", "Camry")
my_bike = Bike("Yamaha", "FZ")
my_truck = Truck("Volvo", "FH16")

# Displaying information
print(my_car.display_info())  # Output: Car Make: Toyota, Model: Camry
print(my_bike.display_info())  # Output: Bike Make: Yamaha, Model: FZ
print(my_truck.display_info())  # Output: Truck Make: Volvo, Model: FH16

Car Make: Toyota, Model: Camry
Bike Make: Yamaha, Model: FZ
Truck Make: Volvo, Model: FH16

In [ ]:
# Data Hiding Example
# Data hiding is an OOP concept used to hide the internal object details.



class BankAccount:
    def __init__(self, balance):
        self.__balance = balance  # Private attribute

    def deposit(self, amount):
        self.__balance += amount

    def get_balance(self):
        return self.__balance

account = BankAccount(1000)
account.deposit(500)
print(account.get_balance())
#print(account.__balance)# Raise Attribute error

1500

In [ ]:
# Encapsulation Example
# Encapsulation is the bundling of data with the methods that operate on that data.



class Employee:
    def __init__(self, name, salary):
        self.__name = name
        self.__salary = salary

    def set_salary(self, salary):
        self.__salary = salary

    def get_salary(self):
        return self.__salary

emp = Employee("John", 50000)
print(emp.get_salary())
emp.set_salary(60000)
print(emp.get_salary())

50000
60000

In [ ]:
# Inheritance Example
# Inheritance is a mechanism where a new class is derived from an existing class


class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return "hy"

class Dog(Animal):
    def speak(self):
        return "Woof!"

dog = Dog("Buddy")
print(dog.speak())

Woof!

In [ ]:
# Polymorphism Example
# Polymorphism allows methods to do different things based on the object it is acting upon.
class Cat(Animal):
    def speak(self):
        return "Meow!"

animals = [Dog("Buddy"), Cat("Whiskers")]

for animal in animals:
    print(animal.speak())

Woof!
Meow!

In [ ]:
class Vehicle:
    wheels = 4  # class variable

    def __init__(self, color):
        self.color = color  # instance variable

    def honk(self):
        print("Honk!")

class Car(Vehicle):
    def __init__(self, color, brand):
        super().__init__(color)
        self.brand = brand

    def start_engine(self):
        print("Vroom!")

my_car = Car("Red", "Toyota")


# Checking if my_car is an instance of Car and Vehicle
# print(isinstance(my_car, Car))  # True
# print(not isinstance( my_car, Car))

# # # # # Checking if wheels is a class variable
# print("wheels" in Vehicle.__dict__)
# # print(Vehicle.__dict__)


# # # # Checking if color is an instance variable
# print(hasattr(my_car, "color"))
# print(hasattr(Vehicle, "color"))

# # # # Checking if Car inherits from Vehicle
# print(issubclass(Car, Vehicle))  # True
# print(Car in Car.__bases__)

# # # Checking if Car is a class
print(type(Vehicle) == type)
print(issubclass(Car, type))
# print(hasattr(Car, "__bases__"))

True
False

In [ ]:
class Bird:
    def intro(self):
        print("There are many types of birds.")

    def flight(self, speed=None):
        if speed is not None:
            print(f"Some birds can fly at {speed} speed.")
        else:
            print("Most of the birds can fly but some cannot.")

class Sparrow(Bird):
    def flight(self, speed=None):
        if speed is not None:
            print(f"Sparrows can fly at {speed} speed.")
        else:
            print("Sparrows can fly.")

class Ostrich(Bird):
    def flight(self, speed=None):
        if speed is not None:
            print(f"Ostriches cannot fly but can run at {speed} speed.")
        else:
            print("Ostriches cannot fly.")

# Create instances of each class
obj_bird = Bird()
obj_sparrow = Sparrow()
obj_ostrich = Ostrich()

# Call methods on Bird instance
obj_bird.intro()
obj_bird.flight()
obj_bird.flight(10)

# Call methods on Sparrow instance
obj_sparrow.intro()
obj_sparrow.flight()
obj_sparrow.flight(20)

# Call methods on Ostrich instance
obj_ostrich.intro()
obj_ostrich.flight()
obj_ostrich.flight(50)

There are many types of birds.
Most of the birds can fly but some cannot.
Some birds can fly at 10 speed.
There are many types of birds.
Sparrows can fly.
Sparrows can fly at 20 speed.
There are many types of birds.
Ostriches cannot fly.
Ostriches cannot fly but can run at 50 speed.

The open() function is used to open a file. It requires two arguments: the file name and the mode (e.g., read, write)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# file = 'https://drive.google.com/drive/u/0/home/sundarpichai.txt'
# file.read()
file = open('sundarpichai.txt', 'r')
content =  file.read()
print(content)

Wellcoem to Cetpa trainning company

In [ ]:
content = open('sundarpichai.txt', 'w')
content.write("Wellcoem to Cetpa trainning company,Very nice")

45

In [ ]:
content = open('sundarpichai.txt', 'r')
file = content.read()
print(file)

Wellcoem to Cetpa trainning company,Very nice

In [ ]:
file = open('sundarpichai.txt','a')
# f = open("your_file.txt", "a")

# Other tool append binary file read/write
# Append to the file, for example:
t = file.write("This is appended text.")
print(t)
content = open('sundarpichai.txt', 'r')
file = content.read()
print(file)

22
Wellcoem to Cetpa trainning company,Very niceThis is appended text.This is appended text.This is appended text.This is appended text.This is appended text.

In [ ]:
# file = open('/content/example.bin','rb')
# content = file.read()
# print(content)

b'\\x00\\x01\\x02\\x03\\x04\\x05\\x06\\x07\\x08\\x09'

You can write to a file using the write() and writelines() methods

In [ ]:
# Open a file in write mode
file = open('example.txt', 'w')

# Write a single string to the file
file.write('Hello, World!\n')

# Write multiple lines to the file
lines = ['First line\n', 'Second line\n', 'Third line\n']
file.writelines(lines)

# Close the file
file.close()

You can append data to the end of a file using the a mode.

In [ ]:
# Open a file in append mode
file = open('example.txt', 'a')

# Append a single string to the file
file.write('This is an appended line.\n')

# Append multiple lines to the file
more_lines = ['Appended line 1\n', 'Appended line 2\n']
file.writelines(more_lines)

# Close the file
file.close()

In [ ]:
# Procedural Programming Example
def funame(x, y):
  return x+y


def main(x, y):
  print(funame(x,y))

main(5, 10)



def calculate_area(length, width):
    return length * width



def main():
    length = 5
    width = 3
    area = calculate_area(length, width)
    print(f"The area is {area}")

main()

The area is 15

In [ ]:
def main():
    length = 5
    width = 3
    area = calculate_area(length, width)
    print(f"The area is {area}")

In [ ]:
def calculate_area(length, width):
    return length * width

In [ ]:
main()

The area is 15

In [ ]:
# Modular Programming Example

# area_calculator.py
def calculate_area(length, width):
    return length * width

In [ ]:
# main_program.py
import area_calculator

def main():
    length = 5
    width = 3
    area = area_calculator.calculate_area(length, width)
    print(f"The area is {area}")

main()

ModuleNotFoundError: No module named 'area_calculator'

Some module

Time

In [ ]:
import time

# Get current time in seconds since the epoch
current_time = time.time() #curent system time since(jann 1 to 1970)
print(current_time)

# # Wait for 2 seconds
# time.sleep(2) # pause the execution

# # Format time into a readable string # local time return as struct_time
formatted_time = time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(current_time))
print(formatted_time)

1721628724.9306073
2024-07-22 06:12:04

DateTime

In [ ]:
from datetime import datetime, timedelta

# Get current date and time
now = datetime.now()
print(now)
#datetime.timedalta return
# Add 5 days to the current date
future_date = now + timedelta(days=5)
print(future_date)

# Format datetime object
formatted_date = now.strftime("%B %d, %Y %H:%M:%S")
print(formatted_date)

2024-07-31 06:35:37.385431
2024-08-05 06:35:37.385431
July 31, 2024 06:35:37

Calendar

In [ ]:
import calendar

# Print calendar for the current month
print(calendar.month(datetime.now().year, datetime.now().month))

# Check if a year is a leap year
is_leap = calendar.isleap(2024)
print(is_leap)

     July 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

True

OS module

In [ ]:
import os

# Define the file name
file_name = 'sundarpichai.txt'

# Create and write to a file
with open(file_name, 'w') as file:
    file.write("Hello, World!\n")
    file.write("This is an example file.\n")
print(f"File '{file_name}' created and written to.")

# Read from the file
with open(file_name, 'r') as file:
    content = file.read()
print(f"Content of '{file_name}':\n{content}")

# Check if the file exists
if os.path.exists(file_name):
    print(f"The file '{file_name}' exists.")
else:
    print(f"The file '{file_name}' does not exist.")

# Delete the file
os.remove(file_name)
print(f"File '{file_name}' deleted.")

# Verify the file has been deleted
if os.path.exists(file_name):
    print(f"The file '{file_name}' still exists.")
else:
    print(f"The file '{file_name}' has been successfully deleted.")

File 'sundarpichai.txt' created and written to.
Content of 'sundarpichai.txt':
Hello, World!
This is an example file.

The file 'sundarpichai.txt' exists.
File 'sundarpichai.txt' deleted.
The file 'sundarpichai.txt' has been successfully deleted.

smtplib (for sending emails)for sending email. Pillow (PIL Fork) for image processing . Twiio is cloud communication platform that give API

**smtplib** for Sending Emails

Enable Less Secure Apps: If you are using Gmail, you need to enable access for less secure apps. You can do this in your Google Account settings. Alternatively, you can create an App Password for added security.

SMTP Server Information:

For Gmail: smtp.gmail.com and port 587

For Yahoo: smtp.mail.yahoo.com and port 587

For Outlook: smtp-mail.outlook.com and port 587

In [ ]:
import smtplib
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText

# Email configuration
sender_email = "namastenaman5@gmail.com"
receiver_email = "216301031@gkv.ac.in"
password = "Naman@123"

# Create message container
msg = MIMEMultipart()
msg['From'] = sender_email
msg['To'] = receiver_email
msg['Subject'] = "Test Email"

# Email body
body = "This is a test email sent from Python."
msg.attach(MIMEText(body, 'plain'))

# Setup the server
server = smtplib.SMTP('smtp.gmail.com', 587)
server.starttls()

# Login to the email account
server.login(sender_email, password)

# Send the email
server.sendmail(sender_email, receiver_email, msg.as_string())

# Close the server connection
server.quit()

print("Email sent successfully!")

SMTPAuthenticationError: (535, b'5.7.8 Username and Password not accepted. For more information, go to\n5.7.8  https://support.google.com/mail/?p=BadCredentials 71dfb90a1353d-4f6c867b220sm1602652e0c.6 - gsmtp')

**Pillow** for Image Processing

In [ ]:
from PIL import Image, ImageFilter

# Open an image file
image = Image.open("WhatsApp Image 2024-02-06 at 20.35.49_675035c5.jpg")

# Apply a filter to the image
blurred_image = image.filter(ImageFilter.BLUR)

# Save the filtered image
blurred_image.save("blurred_example.jpg")

print("Image processing completed and saved as 'blurred_example.jpg'.")

TypeError: filter argument should be ImageFilter.Filter instance or class

In [ ]:
from PIL import Image, ImageFilter

# Open an image file
image = Image.open("WhatsApp Image 2024-02-06 at 20.35.49_675035c5.jpg")

# Save the image to a different file without any filters
image.save("new_image.jpg")  # Change the filename here

print("Image saved as 'new_image.jpg'.")

Image saved as 'new_image.jpg'.

**Twilio** for Sending Messages

Twilio Account: You need to sign up for a Twilio account if you don't already have one. You can sign up at Twilio.

Account SID and Auth Token: After signing up and logging in to your Twilio account, you'll find your Account SID and Auth Token on the Twilio Console Dashboard.

Twilio Phone Number: You'll need a Twilio phone number to send messages. You can buy one from the Twilio Console. This number will be used as the from_ number in the code.

Recipient Phone Number: This is the phone number to which you want to send the SMS.

Twilio Python Library: Ensure you have the Twilio Python library installed. You can install it using pip if you haven't already.

In [ ]:
from twilio.rest import Client

# Twilio configuration
account_sid = 'your_account_sid'
auth_token = 'your_auth_token'
twilio_phone_number = '+1234567890'
recipient_phone_number = '+0987654321'

# Create a client
client = Client(account_sid, auth_token)

# Send a message
message = client.messages.create(
    body="Hello from Twilio!",
    from_=twilio_phone_number,
    to=recipient_phone_number
)

print(f"Message sent with SID: {message.sid}")


Tkinter:

Tkinter is a Python library for creating GUI applications. It provides a set of widgets and tools to build desktop applications with a native GUI look and feel. Tkinter is Python's de-facto standard GUI (Graphical User Interface) package.



Widget:

In programming, a widget is a graphical user interface (GUI) component that provides a specific functionality or displays information to the user. Widgets can be buttons, labels, text boxes, dropdown menus, sliders, and more. They are the building blocks of a GUI application, allowing users to interact with the program.


Tkinter widgets include:

- Buttons
- Labels
- Text boxes
- Checkboxes
- Radio buttons
- Dropdown menus
- Sliders
- Frames
- Canvas

Tkinter allows you to:

- Create windows and dialog boxes
- Add widgets to windows
- Configure widget properties (e.g., text, color, size)
- Handle user events (e.g., button clicks, key presses)
- Layout widgets using various geometry managers (pack, grid, place)

Tkinter is easy to use, flexible, and suitable for rapid prototyping and development of GUI applications.

Here's a simple Tkinter example:

import tkinter as tk

root = (link unavailable)()

label = tk.Label(root, text="Hello, World!")

label.pack()

root.mainloop()

 "Hello, World!".


**Importing Tkinte**r


import tkinter as tk


**Creating a Window**


root = (link unavailable)()
root.title("My First Window")
root.geometry("300x200")

**Widgets**

- Label: tk.Label(root, text="Hello, World!")
- Button: tk.Button(root, text="Click Me!", command=lambda: print("Button clicked!"))
- Entry: tk.Entry(root)
- Text: tk.Text(root, height=10, width=30)
- Frame: tk.Frame(root, bg="red")

**Layout Management**

- Pack: widget.pack()
- Grid: widget.grid(row=0, column=0)
- Place: widget.place(x=10, y=10)

**Events and Bindings**

- Button click: button.config(command=lambda: print("Button clicked!"))
- Key press: root.bind("<Key>", lambda event: print("Key pressed!"))
- Mouse click: root.bind("<Button-1>", lambda event: print("Mouse clicked!"))

**Running the Application**


root.mainloop()


This is a basic overview of Tkinter. You can create complex GUI applications using these building blocks.


1. Creating a Window

import tkinter as tk

root = (link unavailable)()

root.title("My First Window")

root.geometry("300x200")

root.mainloop()


2. Label Widget

import tkinter as tk

root = (link unavailable)()

root.title("Label Example")

label = tk.Label(root, text="Hello, World!")
label.pack()

root.mainloop()


3. Button Widget

import tkinter as tk

root = (link unavailable)()

root.title("Button Example")

def button_clicked():
    print("Button clicked!")

button = tk.Button(root, text="Click Me!", command=button_clicked)

button.pack()

root.mainloop()


4. Entry Widget

import tkinter as tk

root = (link unavailable)()

root.title("Entry Example")

entry = tk.Entry(root)

entry.pack()

root.mainloop()


5. Text Widget

import tkinter as tk

root = (link unavailable)()

root.title("Text Example")

text = tk.Text(root, height=10, width=30)

text.pack()

root.mainloop()


6. Frame Widget

import tkinter as tk

root = (link unavailable)()

root.title("Frame Example")

frame = tk.Frame(root, bg="red")

frame.pack()

root.mainloop()


7. Layout Management - Pack

import tkinter as tk

root = (link unavailable)()

root.title("Pack Example")

label = tk.Label(root, text="Hello, World!")
label.pack()

button = tk.Button(root, text="Click Me!")
button.pack()

root.mainloop()


8. Layout Management - Grid

import tkinter as tk

root = (link unavailable)()

root.title("Grid Example")

label = tk.Label(root, text="Hello, World!")

label.grid(row=0, column=0)

button = tk.Button(root, text="Click Me!")
button.grid(row=1, column=1)

root.mainloop()


9. Layout Management - Place

import tkinter as tk

root = (link unavailable)()

root.title("Place Example")

label = tk.Label(root, text="Hello, World!")

label.place(x=10, y=10)

button = tk.Button(root, text="Click Me!")

button.place(x=50, y=50)

root.mainloop()


10. Events and Bindings - Button Click

import tkinter as tk

root = (link unavailable)()

root.title("Button Click Example")

def button_clicked():
    print("Button clicked!")

button = tk.Button(root, text="Click Me!", command=button_clicked)

button.pack()

root.mainloop()

In [ ]:
import tkinter as tk

# Create main window
window = tk.Tk()
window.title("My Tkinter App")

# Create a label
label = tk.Label(window, text="Hello, Tkinter!")
label.pack()

# Create a button
def button_click():
    print("Button clicked!")

button = tk.Button(window, text="Click Me", command=button_click)
button.pack()

# Run the GUI
window.mainloop()

TclError: no display name and no $DISPLAY environment variable

In [ ]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.3/19.3 MB 55.3 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

In [ ]:
import sqlite3

# Connect to the database (creates a new file if it doesn't exist)
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()
print(cursor)
# Create a table
cursor.execute('''CREATE TABLE persons2 (PersonID int, LastName varchar(255),FirstName varchar(255),Address varchar(255), City varchar(255) );''')

# Insert data, providing values for all columns or using NULL for missing values
cursor.execute("INSERT INTO persons2 VALUES (3, 'Alice', 'Smith', '123 Main St', 'Anytown')")
cursor.execute("INSERT INTO persons2 VALUES (4, 'Bob', 'Johnson', NULL, 'Otherville')") # Use NULL for unknown address
conn.commit()  # Save changes

# Fetch data
cursor.execute("SELECT * FROM persons2")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the connection
conn.close()

<sqlite3.Cursor object at 0x7d8a64105f40>
(3, 'Alice', 'Smith', '123 Main St', 'Anytown')
(4, 'Bob', 'Johnson', None, 'Otherville')

In [ ]:
cursor.execute("SELECT name, department FROM employees;")
#SELECT * FROM employees;#SELECT * FROM employees WHERE department = 'Engineering';
#SELECT * FROM employees ORDER BY name ASC;  -- Ascending order
#SELECT * FROM employees LIMIT 5;
#INSERT INTO employees (name, department) VALUES ('Charlie', 'Sales');
#UPDATE employees SET department = 'Marketing' WHERE name = 'Bob';
#DELETE FROM employees WHERE id = 1;
#SELECT COUNT(*) FROM employees;
#SELECT AVG(salary) FROM employees;  -- Assuming you have a 'salary' column
#SELECT MAX(salary) FROM employees;
rows = cursor.fetchall()
for row in rows:
    print(row)

('Alice', 'HR')
('Bob', 'Engineering')
('Alice', 'HR')
('Bob', 'Engineering')